[2018-05-23 10:14] jaltek opened #6 "Warning: dns_get_record(): A temporary server error occurred. in /var/www/html/include/dba.php on line 58"
Hi,

I tried to setup a friendica instance by using the docker-compose variant (Base version - FPM).
By using the install wizard I got an error during the database initialization:

So I think the dns_get_record() function cannot handle the "db" hostname from the database.

So I digged a little around in the app container:
[code]

Using the PHP function:
[code]
Using the PHP function without ```DNS

[2018-05-23 10:53] nupplaphil commented on #6
Ah, thank you!

I know this type of issue. I had it with the automatic installation too.
Therefore I wrote a workaround for it. I will create a PR to update it to the "normal" installation wizard too.

See:
https://github.com/friendica/docker/blob/1e6852cd9a8b77a1245ac523aef2c9ed93cbbe63/stable/fpm/bin/friendica#L163

[2018-05-23 11:33] jaltek commented on #6
@nupplaphil Sorry. My fault. I meant the "Base version - apache". I copied the wrong YAML source :)
The FPM image seems to have other problems which are IMHO caused by the line
[code]
(Maybe a separate issue?)

[2018-05-23 11:36] nupplaphil commented on #6
I updated friendica/server:apache as well :-)

other Issue: yes, please do so. I'd love to make the environment more stable.

[2018-05-23 11:44] jaltek opened #8 "Cannot start service web: OCI runtime create failed"
By using the docker-compose example for "Base version - FPM" I got an error while firing up the containers:

`ERROR: for friendica_web_1  Cannot start service web: OCI runtime create failed: container_linux.go:348: starting container process caused "process_linux.go:402: container init caused \"rootfs_linux.go:58: mounting \\\"/srv/docker/friendica/nginx.conf\\\" to rootfs \\\"/var/lib/docker/over

[2018-05-23 11:48] jaltek commented on #6
Installation worked :tada:
So I think this can be closed.

[2018-05-23 11:55] nupplaphil commented on #8
Did you create a local `nginx.conf` before starting?

[2018-05-23 11:58] jaltek commented on #8
No (I figured that's where the mistake was). If this is a prerequisite maybe it should be mentioned in the README :)

[2018-05-23 12:06] nupplaphil commented on #8
Hm.. There is a sentence about looking for examples in the examples folder.

But I will write it more clear / prominent :-)

[2018-05-23 12:10] jaltek commented on #8
Well - I first assumed it will run out of the box like the apache example without any further configuration.
A docker compose example YAML file tempts you to try it out quickly :)

[2018-05-24 20:42] nupplaphil commented on #6
@jaltek
Could you do me a favor? Could you please pull the latest friendica/server:apache and try if it works for you?

We fixed the issue not with my "dirty hack". We fixed it at the friendica codebase itself and I pushed this change to the current images.

For me, it is working locally

[2018-05-25 10:55] jaltek commented on #8
If you are going to edit the README because of the nginx-fpm example maybe you should replace the
[code]
flag in flavor of version 3 of the compose file.
Quote:

Ref: https://docs.docker.com/compose/compose-file/#links

Maybe something like:

[code]

[2018-05-25 10:57] MrPetovan commented on #6
Good to know, closing the issue.

[2018-05-25 10:57] #6 closed

[2018-05-25 18:30] nupplaphil commented on #8
I will change the link to the custom network linking, but I don't want to change the version to "3" because there are currently a lot of version 2 docker-compose configs out there.

When you make a nginx.conf file with the help of one of the examples and start it with the given docker-compose file, is the docker environment working?

[2018-05-26 16:00] nupplaphil opened #12 "Supervisor isn't working"
The dockerfiles
- https://github.com/friendica/docker/tree/master/.examples/dockerfiles/cron/apache
- https://github.com/friendica/docker/tree/master/.examples/dockerfiles/cron/fpm

aren't usable at the moment :-(

log:
[code]

supervisor constantly restarts the php instances and kill them because it doesn't "remember" the pid.

I have the fear that the `bin/worker.php` usage in the whole docker e

[2018-05-26 17:15] nupplaphil commented on #8
There is a new description in the README for using this example.

[2018-05-26 18:29] jaltek commented on #8
Hi,

as I wrote you via Mastodon/Friendica I'm currently on vacation. I will
test it in a week :)

Am 26. Mai 2018 19:15:11 schrieb Philipp <notifications@github.com>:

[2018-06-01 18:45] nupplaphil opened #16 "Automatic tests for docker-compose"
As already said in a PR, I want to increase the automatic testing.

So I do want to add Travis CI tests for all of the docker-compose examples. Like we have for the dockerfiles examples.

Therefore I have to download and execute the docker-compose binary on-the-fly.

[2018-06-01 18:59] MrPetovan commented on #16
I don't understand everything but I'm with you.

[2018-06-01 21:43] nupplaphil opened #17 "sendmail sender "Linux user""
The sender of each notification/email from Friendica is currently "Linux user".

That's because the "standard name" of the www-data user is "Linux user" and there is currently no overriding "From:" mechanism when using the mail() function in Friendica.

Maybe there is a php/sendmail-setting for it.

[2018-06-01 22:34] nupplaphil opened #19 "stack.yml - MAILNAME is not valid"
https://github.com/friendica/docker/blob/987edd5dae0c23f0338a240d014953a00a7d5dcb/stack.yml#L29
This mailname is used for the Friendica "admin-mail".

But the e-mail isn't valid, so with [Play-with-docker](https://labs.play-with-docker.com) , we can start Friendica, but we cannot register an admin-account because of this fake-mailname (error "the email is not valid.")

[2018-06-02 04:44] tobiasd commented on #17
At least for mails from the admin [you can use a setting](https://github.com/friendica/friendica/blob/develop/doc/htconfig.md#administrator-options). For non-admin mails the mail sender should use the "site name" as sender name.

[2018-06-02 06:14] tobiasd commented on #19
Could be related to friendica/friendica#2396 and the DNS check for the email.

[2018-06-04 11:14] jaltek commented on #8
Works perfect :)

But the compose example from README differs from ```.examples/docker-compose/insecure/mariadb-cron-smtp/fpm/docker-compose.yml``` or was that on purpose?

[2018-06-06 19:02] nupplaphil commented on #8
Thanks for the feedback :-)

Yes, because the example-files are more like a "template" for everybody. So there are more environment variables to consider and the db-credentials are in a separated file.

The docker-compose examples in the README are for "quick&dirty" setups.

In the near future, I will make docker-compose files with traefik as a ACME(Let's encrypt) and Reverse Proxy (=> secure dock

[2018-06-06 19:37] nupplaphil commented on #17
Works for me now in both of my environments ( friendica.philipp.info & opensocial.at )

[2018-06-06 19:37] #17 closed

[2018-06-06 19:43] nupplaphil commented on #19
I added the two lines of https://github.com/friendica/friendica/issues/2396 here with #20 :
https://github.com/friendica/docker/blob/6ba4108d3d7ea0006167e25f27e467ddcaa7dd16/.config/htconfig.php#L110-L113

Now Play-with-docker is working

[2018-06-06 19:43] #19 closed

[2018-06-13 20:02] nupplaphil opened #26 "Adding redis cache to docker-compose"
Since we add redis cache support, I'm going to add a redis cache container in the docker-compose.
like
[code]
and add the following lines to the `.htconfig.php`:
[code]

[2018-06-22 20:25] nupplaphil commented on #26
Issue done with #27 :-)

[2018-06-22 20:25] #26 closed

[2018-06-23 08:01] nupplaphil commented on #8
@jaltek Can I close this issue? Is the answer for the README suitable for you?

[2018-06-25 06:55] jaltek commented on #8
IMHO yes. Thx!

[2018-06-25 06:55] #8 closed

[2018-08-27 20:52] nupplaphil opened #28 "Permission check at install/update"
Like I said in
https://github.com/friendica/friendica/issues/5682

I do have to make a permission check after/during the rsync!

[2018-09-26 13:36] nupplaphil opened #29 "Upgrade repo to use `local.ini.php`"
Major todos to make the images work again:
- replace usage of `.htconfig.php` with `local.ini.php` (for database)
- Replace other settings with `console config set` possibility

[2018-10-09 11:41] nupplaphil commented on #29
Resolved per #30

[2018-10-09 11:41] #29 closed

[2018-10-09 11:41] nupplaphil commented on #28
Resolved per #30

[2018-10-09 11:41] #28 closed

[2018-10-11 21:22] nupplaphil opened #31 "Removing the sleep() out of the installaton"
ToDo:
Replace
https://github.com/friendica/docker/blob/6a42a2f355d01a3bda9fdc9a5aee2f39ef040481/docker-entrypoint.sh#L171
with a better way to wait until the database setup is finished

[2018-10-11 21:25] nupplaphil opened #32 "Fixing stack.yml"
Because of #30 , `stack.yml` isn't working anymore.
=> we have to disable the email & url verification again

The reason behind it, is that Friendica will automatically check the admin-mail "root@friendica.local" which isn't - of course - a valid emal ;-)

[2018-10-11 21:56] nupplaphil commented on #12
solved with #29

[2018-10-11 21:56] #12 closed

[2018-10-16 21:14] nupplaphil opened #33 "Optionally set friendica.log to ignore"
The friendica.log isn't skipped during update so it will get deleted at every update.

Maybe we can add a environment variable to optionally skip the log

[2018-10-16 21:16] nupplaphil opened #34 "Possibility to overwrite git Repo&branch"
Currently I have to manually overwrite the git clone in `/entrypoint.sh` to checkout other branches / repos than the default one

Maybe we can add (just for the develop images) the possibility to configure the checkout

[2018-10-16 21:46] MrPetovan commented on #33
There's a `*.log` in the `.gitignore` file, what more do we need?

[2018-11-13 00:15] noplanman opened #35 "cron with secondary container not working"
When I try to use a secondary container with `/cron.sh` entrypoint, all I get is:
`Friendica isn't properly installed yet.`

I'm passing the same environment variables as the main docker container, so not sure where the hiccup is happening.

[2018-11-18 14:59] nupplaphil commented on #35
Did you use some of the `.examples` as baseline? Can you paste your `docker-compose.yml` if possible or the startup environment variables.

[2018-11-20 21:15] Zauberstuhl opened #36 "Page not found on startup with frior system theme"
On the startup page a "Page Not Found" is displayed and it seams that `mod/home.php` is missing in the image. Is this a bug or do we have a incomplete configuration?

You can see the problem in action here: https://friendica.feneas.org/
and our compose file looks like this:
[code]

Any advice? Thanks in advantage, Lukas

[2018-11-20 21:32] MrPetovan commented on #36
Paging @nupplaphil

[2018-11-21 18:58] nupplaphil commented on #36
You're right .. The docker image is missing of "home.php" .. I think I know why ..

[2018-11-21 19:17] nupplaphil commented on #36
@Zauberstuhl please pull the latest `friendica/server` image, restart and try again

[2018-11-22 03:01] MrPetovan commented on #36
Why not `2018.10`?

[2018-11-22 07:15] nupplaphil commented on #36
Because the version for the running system has to be lower than the version of the image. This will start the sync of the image files to the running system

https://github.com/friendica/docker/blob/ca9cdb692114261137b52345c774a009004f1bd4/docker-entrypoint.sh#L98

[2018-11-22 11:04] Zauberstuhl commented on #36
I think what @MrPetovan means is; why haven't you increased the image version to `2018.10`?
I can do it manually but it could affect others as well

[2018-11-22 11:06] Zauberstuhl commented on #36
ok it works! Thanks :)

[2018-11-22 11:06] #36 closed

[2018-11-27 16:45] nupplaphil opened #38 "Switch to local.config.php"
Switching back to `local.config.php` because of https://github.com/friendica/friendica/pull/6199/

@MrPetovan This change is making a lot of things easier here :-). There would have been a ugly workaround for custom ini.php files necessary instead.

[2018-11-27 16:49] nupplaphil commented on #32
should be fixed with #38

[2018-11-27 17:00] MrPetovan commented on #38
I'm glad it does, that's why I made this call even though we changed the config file format last stable release as well.

[2018-12-13 16:15] nupplaphil opened #40 "Auto building Docker images after merge"
Currently, I have to create and upload every docker image by hand. There are some possibilities to create auto builds.
- per Travis
- per github

I've to look for it

[2018-12-13 20:46] nupplaphil commented on #40
solved with #41

[2018-12-13 20:46] #40 closed

[2018-12-14 19:07] nupplaphil opened #44 "Idea: Using a docker volume for storage"
Based on https://github.com/friendica/friendica/pull/6180 we can use a docker volume for data storage instead of the db.

It's currently possible in `dev` branch only and not yet stable, but as a reminder for `2019.03` and following

[2018-12-31 16:17] MrPetovan commented on #38
Isn't 3. comparable to 1. anyway?

For 4., there's the issue of config file load order. This is why all config files are named, they are read in order and overwrite existing values (or not, for defaults).

I'd instinctively be in favor or 2. mainly because it feels less disruptive but I admit I don't have a full grasp of the implications.

[2018-12-31 17:03] nupplaphil commented on #38
Yes, the only difference is the source. At 1. it's environment variables, 2. is with another config.

To be honest I started option 4 and came to the point with the order too, that's why I stopped and added the discussion here ;-).

Yes, 2 would be the most less impact on the codebase and it would be entirely controllable with docker configurations. So I will start this path.

Maybe the script is

[2018-12-31 19:06] MrPetovan commented on #38
`FRND` maybe? Although it may be too close from `DFRN`, the acronym of the decentralized protocol Friendica is built upon.

[2019-01-03 17:05] nupplaphil opened #46 "Change to 2019.01-rc"
Change tag to `2019.01-rc` otherwise all images with tag `rc` will break when restarting/upgrading

based on commit
https://github.com/friendica/friendica/commit/d1fb0be5565283a58ba49c867c9bc1d8e688d55e

[2019-01-04 01:07] nupplaphil commented on #46
solved with #47

[2019-01-04 01:07] #46 closed

[2019-01-21 15:48] noplanman opened #48 "Update to 2019.01"
Just voicing excitement and pinging for a new release :innocent:

[2019-01-21 19:37] nupplaphil commented on #48
Closed per #49

[2019-01-21 19:37] #48 closed

[2019-01-22 00:18] Zauberstuhl commented on #35
FYI it worked for me after I added:

[code]

to `config/local.ini.php`

[2019-01-22 06:50] nupplaphil opened #50 "Update deletes `local.config.php`"
I don't know why, but #45 didn't work during the upgrade .. It deleted the `local.config.php`

So be careful during update and save your `local.config.php` before updating! I'll fix it soon

[2019-01-22 10:40] Zauberstuhl commented on #35
@noplanman the cron.sh starts a daemon script. if you want everything on one container it might make sense to alter the entrypoint and start the workers permanently via:

`php /var/www/html/bin/daemon.php -f start`

Then you have no host dependencies.

[2019-01-23 20:39] nupplaphil commented on #50
I accidentally didn't upgrade my image on my server .. It was my fault .. sorry ;-)

[2019-01-23 20:39] #50 closed

[2019-03-09 19:18] valvin1 opened #55 "Docker image on ARM architecture"
Hello,

As I'm having trouble on my x86_64 server in reason of having only 2GB of RAM and my friendica instance requires almost 1GB with server + mariadb I was looking for hosting friendica on a ARM architecture which is cheaper than x86.

Unfortunately MariaDB runs well but it is not the same for the server. I've tried several different image but each time I get the same result. Is there a trick

[2019-03-09 19:25] valvin1 commented on #55
if I refer to nextcloud it uses `armhf/php:7.1-fpm` as a based image but maybe there are other dependencies which are not compatible ?

[2019-03-09 19:29] valvin1 commented on #55
and additionnal info because I'm not so aware about architecture so here is the targeted host `docker system info` :

[code]

[2019-03-09 20:49] MrPetovan commented on #55
What is the result you're getting?

[2019-03-10 08:58] valvin1 commented on #55
something like :

[code]

[2019-03-10 10:44] nupplaphil commented on #55
Thank you for your report :-)

Currently, the docker images doesn't support ARM architectures, because they need to base on a ARM docker image too. I'll have a look if I can create easily.

[2019-03-14 19:51] valvin1 opened #56 "define php.ini /usr/local/etc/php/ and memory limit"
I add many errors in logs like this one :
`Cannot allocate memory: AH00159: fork: Unable to fork new process`

it looks like this error is linked to the memory limit in `php.ini` :

[code]

I had to copy to :
[code]

and then change `memory_limit` to `256M`

would it be possible to setup a php.ini and dynamically setup memory limit from a variable ?

maybe there are other interesting settings to s

[2019-03-15 18:32] nupplaphil commented on #56
This is something I was already planing because of the (already solved) problem with memory leaks during contact removage :-)

[2019-03-15 18:37] nupplaphil commented on #55
I'm afraid, this can't be easily done. So it remain in my backlog, but not as a todo for the next weeks :-)

[2019-03-15 20:35] valvin1 commented on #55
no problem, i've solved my main issue with RAM consumption so I can stay on my x86 server :)

[2019-03-24 12:45] nupplaphil opened #58 "version_greater() method doesn't respect -dev or -rc"
When updating from a *-rc or *-dev version (f.e. `2019.03-rc`) to the same release (f.e. `2019.03`), the method `version_greater()` doesn't sort the release over the rc version, so the upgrade fails.

This is cause because of this implementation:
https://github.com/friendica/docker/blob/0d190b35ddc494a411a50548edba6c0e280c99f2/.docker-files/entrypoint.sh#L15

[2019-04-26 14:06] nupplaphil commented on #55
Interesting article, which may help for this task:
https://techcrunch.com/2019/04/24/docker-partners-with-arm/amp/

[2019-05-21 20:02] valvin1 opened #62 "testing 2019.06-rc but still on 2019.04"
I have tried updating my friendica docker installation from `friendica/server:latest` which was 2019.04 to `friendica/server:2019.06-rc`

after upgrading everything looks fine but i'm still in version 2019.04 in admin panel.

inside the container it looks ok :
[code]

on docker host :
[code]

but in admin panel i'm still having 2019.04 :

![Screenshot_20190521_220120](https://user-images.githubuse

[2019-05-21 20:09] MrPetovan commented on #62
I would guess that the version number hasn't been updated somewhere in the chain.

[2019-05-21 20:15] valvin1 commented on #62
yes i confirm :

here is what i have inside the container :
[code]

but when i do :

[code]

CHANGELOG is ok :

[code]

So current process is not downloading the good archive or I have to do something to update my volume ?

[2019-05-21 20:17] MrPetovan commented on #62
I'm not sure yet, thanks for the elaboration, I'm not experienced enough with Docker to help you, paging @nupplaphil

[2019-05-21 20:24] valvin1 commented on #62
after reading entrypoint.sh it looks like when we are in `-rc` or `-dev` we have to setup an additional environment `FRIENDICA_UPGRADE` to true because inside the container :

[code]

or the issue is why /usr/src/friendica folder doesn't exist.

[2019-05-21 20:30] valvin1 commented on #62
I confirm that the environment FRIENDICA_UPGRADE solved the issue.

And it was in the README but I don't see it :

[code]

[2019-05-21 20:33] MrPetovan commented on #62
Congrats! Do you need any further help? If not, you can close this issue.

[2019-05-21 20:34] valvin1 commented on #62
nope its ok :)

[2019-05-21 20:34] #62 closed

[2019-05-31 15:28] nupplaphil commented on #58
now more urgent because @valvin1 is now using -rc and without fix, he won't be able to upgrade to 2019.06 - see #62

[2019-06-04 03:15] pianic26 commented on #8
I have the same problem; I'm new with docker and I don't how to fix please help
ERROR: for firstproject-webserver  Cannot start service webserver: OCI runtime create failed: container_linux.go:345: starting container process caused "process_linux.go:424: container init caused \"rootfs_linux.go:58: mounting \\\"/c/firstproject/phpdocker/nginx/nginx.conf\\\" to rootfs \\\"/mnt/sda1/var/lib/docker/ov

[2019-06-16 04:50] 2018robert opened #63 "Roll mysql into the container"
It'd be great if this container just worked without additional configuration. Please consider rolling mysql into the container.

[2019-06-16 13:20] nupplaphil commented on #63
Thanks for your suggestion. You could create a container image, based on this image and include an mysql server with standard configs in it.

Something like (just an example, not ready!)
[code]

But there are some parts, which we have to consider:
- The official MySQL image has some more setup-scripts, which we shouldn't copy into this repository (so we need a friendica-focused setup script ..)
-

[2019-06-16 13:20] nupplaphil commented on #58
Fixed by #64

[2019-06-16 13:32] nupplaphil opened #65 "Cannot start service webserver: OCI runtime create failed"
_Originally posted by @pianic26 in https://github.com/friendica/docker/issues/8#issuecomment-498503241_

ERROR: for firstproject-webserver  Cannot start service webserver: OCI runtime create failed: container_linux.go:345: starting container process caused "process_linux.go:424: container init caused \"rootfs_linux.go:58: mounting \\\"/c/firstproject/phpdocker/nginx/nginx.conf\\\" to rootfs \\\"/m

[2019-06-16 13:35] nupplaphil commented on #65
@pianic26

Did you create a `nginx.conf` file inside the subdirecoty `nginx`?
Can you paste you `docker-compose.yml` file for better support?

[2019-06-16 13:35] #58 closed

[2019-06-16 13:56] nupplaphil opened #66 "Support password files"
Instead of setting the password inside a plain-readable environment variable, you should use a password-file in production.

Details here: https://medium.com/@adrian.gheorghe.dev/using-docker-secrets-in-your-environment-variables-7a0609659aab

I'd like to introduce the explained `file_env()` function as alternative to `MYSQL_PASSWORD` and `SMTP_AUTH_PASS`

[2019-06-17 04:57] 2018robert commented on #63
Sounds great. Thanks for the reply :)

[2019-06-17 04:57] #63 closed

[2019-06-22 09:51] musznik commented on #65
same problem here using this docker-compose

`# This docker-compose config for ArchiveBox runs the following containers:
#     - ArchiveBox (it creates the initial archive, then sleeps forever to allow commands to be run with exec to add links)
#     - nginx webserver running on https://127.0.0.1:8098
# Usage:
#     docker-compose up -d
#     echo "https://example.com" | docker-compose exec -T arc

[2019-06-23 00:27] nupplaphil commented on #56
After investigating a little bit, I came over that we should define a "production-ready" memory_limit, as defined in #67 .

I think in other cases, one should "overwrite" the memory_limit in customizing the docker image based on the needs.

So I'd set this issue to resolved when #67 is working as expected :)

[2019-06-23 00:28] nupplaphil commented on #44
#67 prepares a `/var/www/data` directory for further enhancements in this direction ;-)

[2019-06-23 00:42] nupplaphil commented on #33
fixed by #67

[2019-06-23 00:42] #33 closed

[2019-06-23 00:44] #56 closed

[2019-06-23 02:04] pianic26 commented on #65
yes it's created and already attaches as docker-compose.txt

[2019-06-23 02:23] nupplaphil commented on #34
Fixed with #68

[2019-06-23 18:03] nupplaphil commented on #44
Prerequisite: https://github.com/friendica/friendica/pull/7310

[2019-06-23 18:04] nupplaphil commented on #38
Prerequisite: https://github.com/friendica/friendica/pull/7310

[2019-06-23 18:04] nupplaphil commented on #32
Prerequisite: https://github.com/friendica/friendica/pull/7310

[2019-07-12 21:25] nupplaphil commented on #34
Unfortunately #68 doesn't work as expected ...

[2019-07-19 13:32] nupplaphil commented on #34
I forgot to update my container, so the variables didn't work ... closing again ;-)

[2019-07-19 13:32] #34 closed

[2019-07-19 15:41] nupplaphil commented on #44
Should get fixed by #70

[2019-07-19 15:41] nupplaphil commented on #38
Should get fixed by #70

[2019-07-19 15:41] nupplaphil commented on #32
Should get fixed by #70

[2019-07-19 16:09] #32 closed

[2019-07-19 16:09] #38 closed

[2019-07-19 16:09] #44 closed

[2019-07-21 12:51] nupplaphil opened #71 "Loosing permission settings in storage"
FollowUp #44
Sometimes, the file-storage of photos loose their permissions, which leads to

[code]

Either I find the root cause, or I've to auto-check the permissions on startup (like for Smarty)

[2019-08-04 16:52] nupplaphil opened #72 "Missing ext-pcntl for daemon mode"
When I want to start the daemon through docker, the following error occurs:
[code]

I guess the "native" forking possibility vanished from to another version...

[2019-08-04 18:38] nupplaphil commented on #72
Fixed by #73

[2019-08-04 20:12] annando commented on #72
The forking had always been the same. But you don't need to fork when you are running the daemon in the foreground.

[2019-08-04 20:54] #72 closed

[2019-08-08 14:08] nupplaphil opened #74 "Ready for official image?"
I'd like to push this image to the official repository since it evolved a lot and I know at least 2 other people using it regulary ;-) .

This will also solve #55 , because the official repository is capable of building multi-architecture images out of the box.

[2019-08-08 14:57] MrPetovan commented on #74
Go for it!

[2019-08-08 20:03] annando commented on #74
friendica.feneas.org is running with this as well.

[2019-09-05 23:14] J0WI opened #77 "Deduplicate dependencies"
Some dependencies and extensions are already provided by the base image, so there's no need to add them again:

https://github.com/friendica/docker/blob/af1aa857f6867ee394a07d7f93a2c06091836dc9/2019.06/fpm-alpine/Dockerfile#L55-L67
https://github.com/docker-library/php/blob/d367f7fb843c23f265f732256bb196b160523cd2/7.3/alpine3.10/fpm/Dockerfile#L134-L145

[2019-09-07 13:35] nupplaphil commented on #77
Will be fixed by #78

[2019-09-09 20:48] #77 closed

[2019-09-10 12:41] nupplaphil opened #79 "${URL}/.well-known/host-meta is not reachable"
With my current docker-setup, I get an error at the admin overview page because /.well-known/host-meta isn't reachable.

![Screenshot_2019-09-10 Philipp's Friendica Admin](https://user-images.githubusercontent.com/379654/64613206-e7163d80-d3d5-11e9-819d-182cf39b37a3.png)

My current docker-compose is:
[code]

[2019-09-30 19:20] valvin1 opened #81 "Crash when using 2019-09-rc after the release"
This morning my instance crashes after a reboot.

After a quick investigation it is because when using a RC tag version at startup changes are pulled. Unfortunately this morning `2019-09-rc` branch was not present anymore which leads to a crash.

I think it would be interesting in case of a git pull issue to fallback in previous version without crash.

[2019-09-30 19:43] nupplaphil commented on #81
mhm ... That's true .. I will add a check if the branch is available and just make a clone if its possible..

Thanks for the input

[2019-10-01 20:10] #81 closed

[2019-10-02 19:29] valvin1 commented on #81
Thank you :)

[2019-11-13 04:51] victort opened #83 "Apache image can't utilize ldapauth addon because container lacks `libldap2-dev`"
`friendica.log` renders:
[code]
for example, after my trying to fill out and run an `addon.config.php` with an `ldapauth` block.

[2019-11-14 22:26] victort commented on #83
actually, it looks like it might be `libldap2-dev` that's missing, because
[code]
fails during `configure` on
[code]

but succeeds when `libldap2-dev` is present. I'm still trying to work out if it's both the `php7.3-ldap` and `libldap2-dev` packages are required, or just the latter. stay tuned.

[2019-11-14 22:59] victort commented on #83
so, I get ldap to appear among the phpe extensions in `phpinfo()` now, with the following in my `Dockerfile` (which is really just wrapping `friendica/server` with my (among other things) `/var/www/html/config/addon.config.php` so i can LDAP),
[code]

[2019-11-16 11:00] nupplaphil commented on #83
Ah thx .. I'll have a look!

[2019-11-16 11:07] nupplaphil commented on #83
You don't have to add the dependency by your own. I think it's tiny enough to add it to the base image.

So I added them -> see #84

[2019-11-16 15:58] #83 closed

[2019-12-22 03:39] focalfury opened #90 "Trouble spinning up docker instances to test"
Hi there,
I'm sure this is user error but I'm a bit stumped at what I am doing wrong.  When I spin up the docker-compose example in the documentation and navigate to localhost:8080 it forwards to friendica/install in browser but never connects.  adding something in hosts file just to force resolution doesn't help things either.

The same thing happens if I spin up two containers, one with MYSQL &

[2019-12-22 13:22] nupplaphil commented on #90
Which docker-compose example did you use?
At least this one should work: https://github.com/friendica/docker/tree/master/.examples/docker-compose/insecure/mariadb-cron-redis/apache
(don't forget to adapt the environment variables)

For the two containers:
 * Did you create the friendicaDB with this sql-file: https://github.com/friendica/friendica/blob/master/database.sql ? (or similar if you use t

[2019-12-22 13:31] nupplaphil commented on #90
A and please add a custom network for the two container-examples instead of the (legacy) `--link` feature (https://docs.docker.com/network/links/).

Like:
[code]

This should auotmatically install friendica

[2019-12-28 23:47] focalfury commented on #90
Thanks for the information and help.  Disclaimer I think a lot of this is my relative newness to docker.
Also for reference in testing I'm running Docker on Windows for the base work before I decide which Linux hosts I'll have the real apps running from, just in case it makes a difference.

My first time I tried docker-compose I used the **Base version - apache** one here: https://hub.docker.com/r

[2020-01-01 14:33] nupplaphil commented on #90
This is fine, don't worry :-) .

The problem is that Friendica needs a running mysql-server and some basic configurations to be useful (yet). That's why even the .examples needs some basic configuration.
Based on https://github.com/friendica/docker/tree/master/.examples/docker-compose/insecure/mariadb-cron-redis/apache , you need at least setting the following configs:
- `db.env` (the database env

[2020-01-02 09:52] valvin1 opened #95 "2019.12 - cron.sh - MySQL Port not set to default"
Hi,
I've just updated to 2019.12 and my cron container wasn't starting.
I had to add `MYSQL_PORT` environment variable to make it works again. Else I had this error :

[code]

So I think it means default value is not set as before ?

[2020-01-02 12:07] nupplaphil commented on #95
I'll check it :)

[2020-01-02 20:52] nupplaphil commented on #95
Should be fixed with #96

[2020-01-02 22:25] #95 closed

[2020-01-05 09:44] commagray commented on #79
Same here. Docker, Traefik, and reverse proxy with Caddy.

![image](https://user-images.githubusercontent.com/27947961/71778011-c0959700-2fb0-11ea-828b-0612df759c7d.png)

But https://derpy.email/.well-known/host-meta is reachable.

[2020-01-05 09:56] commagray opened #99 "External users can't follow me"
Hi!

I have following configuration with Docker, Traefik and Caddy:

docker-compose.yml

[code]

derpy.email.conf Caddyfile

[code]

Federation seems working (I can ping my Mastodon account and back, faves work too). But Mastodon can't follow  Friendica account:

![image](https://user-images.githubusercontent.com/27947961/71778107-fe46ef80-2fb1-11ea-889a-e7521e1c3b73.png)

And a comment from a lib

[2020-01-05 12:56] nupplaphil commented on #79
I found a solution for this issue:
[code]

`172.18.0.2` is the local IP of the docker gateway. Now a ping of the own hostname will redirect to the gateway and answer inside the local vlan rather than trying to ping ourselfs from the outside.
=> The messages vanished and the Curls to the own hostname now works :)

@commagray can you check it, if this will solve your message too? And if #99 is now w

[2020-01-05 14:06] commagray commented on #79
Uhh. I tried these options:

[code]

All of IPs I've seen in `docker inspect`.

Nope, I still have the message.

![image](https://user-images.githubusercontent.com/27947961/71781250-25fb7f00-2fd5-11ea-8a3a-a4a940b2df2d.png)

And I still affected by #99.

[2020-01-05 23:51] commagray commented on #79
Some logs?

[code]

[2020-01-06 01:15] commagray commented on #79
Okay, so my solution was absolutely vice versa, lol.

[code]

Seems fixed the message. Still, I need to test my federation with #99.

[2020-01-06 01:24] commagray commented on #99
Fixed in https://github.com/friendica/docker/issues/79#issuecomment-570969761.

[2020-01-06 01:24] #99 closed

[2020-01-08 22:31] nupplaphil commented on #74
Done :)))))))

[2020-01-08 22:31] #74 closed

[2020-01-08 22:33] nupplaphil commented on #31
Fixed with #88

[2020-01-08 22:33] #31 closed

[2020-01-08 22:36] nupplaphil commented on #79
Hmm... Are mails still working with this setup? I guess not.. `Hostname` is used for the smtp setup. So you deleted the `Hostname` parameter and now the instance doesn't know anymore that `derpy.email` is your local container and tries to ping it "again" from the outside..

 But maybe that's a valid solution.. Maybe I "just" have to use another env for the mail host.. Thx for the tests!!

[2020-01-08 23:33] nupplaphil commented on #55
@valvin1 there's now a official Friendica image with arm support available.

Just use the `friendica` image on the arm device :)

[2020-01-08 23:37] MrPetovan commented on #74
Yay!

[2020-01-09 06:34] commagray commented on #79
I use the “PHP Mailer SMTP” addon, so no issues in my setup.

[2020-01-09 06:40] valvin1 commented on #55
oh nice, I haven't followed your work for the official docker image. Great job ! :)

[2020-01-09 07:12] nupplaphil commented on #74
https://hub.docker.com/_/friendica we're now an official image at the docker hub :)

[2020-01-09 08:08] nupplaphil commented on #79
Hmkay.. I think I'll remove the hostname usage, this should fix this issue

[2020-01-10 10:25] #55 closed

[2020-01-23 21:46] commagray commented on #79
Now it happens again.

![image](https://user-images.githubusercontent.com/27947961/73026601-6747b780-3e3a-11ea-8073-44d807b645a0.png)

[code]

But if you give it some time it'll be fine again. The worker seems not working?

[2020-01-23 21:49] MrPetovan commented on #79
"Service unavailable" means that your server load average has reached the limit Friendica uses to cut any call short. This limit can be configured in the admin panel or via command line.

[2020-01-26 00:15] focalfury commented on #90
Sorry for my long absence.  Big life event just happened a few weeks earlier than expected, which is the point of getting a private social media setup :).

So I took a few steps back and focused on some basics and now have a better grasp of Docker, certs, etc.

Currently I have setup a letsencrypt docker image that is acting as SSL termination and reverse proxy for a few items.  If I'm using this

[2020-01-26 05:06] focalfury commented on #90
OK so I spent some time tonight and feel confident I have a good docker-compose file for getting the FPM version going with services: db,redis,app, and cron.  What I really am in over my head with is the proper nginx settings in another container that serves as my reverse proxy/webserver & letsencrypt wildcard.

I've learned a bit more about PHP-FPM and understand that we need to get php requests

[2020-01-26 08:30] valvin1 opened #101 "Configuration change in exesting installation is not working"
I'm using version 2019.12 and I get two times issue when changing configuration using my environment variables that were not reflected.

I think these two issues are linked. In both cases I had to modify manually local-config.php where changes were not reflected.

My uses cases are :

* I want to add a new admin user : here in addition i'm wondering if the parameter has the good name `admin_mail`

[2020-01-26 15:39] focalfury commented on #101
not an expert by any means but I do believe those params are only used for auto installation.  Even if you didn't provide them you could go set up the database manually and friendica settings in the config files to get it working.

[2020-01-26 17:10] valvin1 commented on #101
You are right but I'm not sure it is what we can except in a docker installation.
Modifying local files is working but it is not usual to do so in a container setup with env variables.

[2020-01-29 20:43] nupplaphil commented on #101
This is indeed a bug .. it should be the same config name like the db-entry

You and @focalfury are right. The current problem is that we persist the dbhost/user/name into the `config/local.config.php`, which makes it impossible to change it through the parameter again.

A fix would be to avoid saving any entry into the `local.config.php` file and instead load it through the environment variables.

[2020-01-29 21:06] nupplaphil commented on #90
If you don't want to play around with PHP-FPM, you could replace it with the apache version of the image. This would make the usage of an extra nginx obsolete.

Because beware that you need **two** different types of proxies for routing FPM images to the world wide web :)

### The Asset Proxy
This proxy is responsible for serving the static assets of the friendica image, because PHP-FPM is **not**

[2020-02-02 20:12] valvin1 opened #103 "show log in daemon.php in foreground"
I'm running friendica using docker. I have two different containers. One is for managing daemon.php in foreground.

I have time to time worker issue for unknown reason. So I'm wondering if there is a way to provide more log by default. Because when i run `docker logs <my_friendica_cron_container` I only have this :

[code]

At least having a log saying to everything is running well or not

[2020-02-02 20:25] nupplaphil commented on #103
ah, thx @MrPetovan

There are in fact two issues:
- The script for https://github.com/friendica/friendica/blob/develop/bin/wait-for-connection prints comments (this is not intended)
- For logging to the foreground, the logger has to print the log entries to `stdout` (so docker can use it well) - this is possible with using the `SystemLogger` instead of the `FileStreamLogger`. I think this issue is

[2020-02-02 20:47] nupplaphil commented on #103
The question is if it's applicable for everyone that there isn't a `friendica.log` anymore, instead they have to use `docker logs` or `docker-compose logs` to find the logs.

OK this would be of course a more "docker-way", but at least I'm not sure if everybody will be happy with it .. I could combine both loggers as well (introduced with Monolog ..) .. I've to think about it ^^

[2020-02-28 21:37] valvin1 commented on #103
maybe cron container can start in background `daemon.php` and then `tail -f friendica.log` ?

[2020-02-29 14:12] valvin1 opened #105 "daemon.php status says not running with many zombies process"
Hi,

I've just seen that `exec php /var/www/html/bin/daemon.php -f start` is not terminated when `daemon.php status` return it is not running. Maybe it is normal.

But we have strange issue on our instance which generates maybe zombies process :

![image](https://user-images.githubusercontent.com/1267915/75608984-f4022700-5b04-11ea-95f2-ca2b9c32d5d3.png)

In that situation we have many messages qu

[2020-02-29 15:16] valvin1 commented on #105
in addition on my own instance I'm checking zombie process and here the result :

[code]
:scream:

[2020-02-29 16:46] nupplaphil commented on #105
Hmm .. I think this is a serious problem .. I have these zombie processes too!
So even the official suggested `cron.sh` container has this issue!

I think this is because of the way we use forking inside the `daemon.php` itself, which causes such zombie processes.. I've to investigate it!

Thanks for your input!

[2020-03-02 20:25] valvin1 commented on #105
interesting article. Maybe a first step would be to use this approach :

[code]

[2020-03-02 21:14] valvin1 commented on #105
if i remove `exec` in `cron.sh` and use the trick it looks working :

![image](https://user-images.githubusercontent.com/1267915/75718243-e6020100-5cd2-11ea-9982-5e40d361a9d1.png)

left is with `exec` so child process are managed by `php` ; right they are managed by `sh` and no more defunct process.

[2020-03-02 22:00] nupplaphil commented on #105
Yes!! Thx!! I haven't had time for this test :))
I'll create a PR for it

[2020-03-03 11:47] valvin1 commented on #105
I think that just remove `exec` in `cron.sh` can fix the issue.

[2020-03-03 12:46] nupplaphil commented on #105
funny .. This was an explicit recommendation of the docker maintainer team:
https://github.com/docker-library/official-images/pull/6446#issuecomment-537282517 :D

[2020-03-03 12:52] valvin1 commented on #105
it makes sense here the issue is daemon.php is not managing its children :)
btw in current situation it would be better not having `exec`
I'm sending a PR with just removing exec.

[2020-03-04 22:33] nupplaphil commented on #79
This didn't work as well .. I still have Timeouts when pinging my own node ..

[2020-03-05 06:27] nupplaphil commented on #105
@valvin1 can you plz have a look at https://github.com/docker-library/official-images/pull/7573#issuecomment-594976003 and adapt the solution? This would help me a lot :))

[2020-03-05 19:29] valvin1 commented on #105
interesting i'll try to do it this week-end :)

[2020-03-09 22:36] nupplaphil commented on #105
Fixed with #108

[2020-03-09 22:36] #105 closed

[2020-03-11 20:16] nupplaphil commented on #105
btw. I checked it at both of my nodes, it's now working!! :-)

[2020-04-05 14:20] noplanman opened #112 "Release 2020.03 on Docker Hub"
It seems there is no auto-deployment in place. Any idea when the latest version will be available on Docker Hub?

[2020-04-07 15:08] nupplaphil commented on #112
Hi, the release should now be available.
It's the `friendica` image, the `friendica/server` is deprecated

[2020-04-07 16:57] noplanman commented on #112
Perfect, thanks for the info :+1:

[2020-04-07 16:57] #112 closed

[2020-04-28 13:58] stodge opened #113 "URL rewrite in .htaccess is not working"
I followed your website for running Friendica using docker-compose at https://hub.docker.com/_/friendica#! - "Base version - apache". My YAML file is:

[code]

When I use docker-compose up -d, I get:

`URL rewrite in .htaccess is not working. Make sure you copied .htaccess-dist to .htaccess.
`

Any suggestions? Thanks

[2020-04-28 14:20] annando commented on #113
I'm no Docker pro, but the message asked if you copied the file `.htaccess-dist` to `.htaccess`. Can you check if this happened?

[2020-04-28 14:46] stodge commented on #113
There's no sign of that happening in the logs:

[code]

[2020-04-28 14:54] stodge commented on #113
I worked out what the problem was. I had changed the docker-compose file to expose Friendica on port 9090, instead of 80:

    ports:
      - "9090:80"

As I was already running something on 80. I reverted to using 80 and re-started docker-compose and it seems to be ok.

[2020-04-28 14:54] #113 closed

[2020-05-01 10:16] iannuzzelli commented on #35
I had a very similar issue and ended up creating the cronjob in the host as suggested by @noplanman , although not nice as it creates a dependency in case of future scaling needs.

In my current setup (using `friendica:2020.03-apache` image), the cron container, despite being passed the same env file of the friendica app, doesn't start the daemon, it just hangs reporting this warning

[code]

then

[2020-05-01 15:36] iannuzzelli commented on #79
I was having the same issue, and it was solved by adding the extra_hosts section, mind that the gateway IP may change depending on your docker setup (in my case is 172.17.0.1)

[2020-05-05 13:53] stodge opened #114 ""Can't connect to site" when I try to login after installation using this image"
I can install Friendica and I can then create my account using this image. But when I try to login I get a blank page and an error "Can't connect to site". The site is configured for `localhost` as I'm just running it on my laptop without a domain name. Is this supported?

[2020-05-08 13:12] valvin1 opened #115 "Apache - MPM prefork configuaration"
I'm looking at current Apache configuration. Container is set to run using MPM prefork which process based.

Current config is :

[code]

It starts 5 processes and keep always minimum 5 processes idle and maximum 10. It can start maximum of 150 processes.
MaxConnectionsPerChild to 0 means a process never dies. It can causes memory leaks. If we set a value, it will kill the process when it has serv

[2020-05-13 08:19] nupplaphil commented on #115
Oh, sounds good.

Yes, plz add a PR, I'll have a look at it.

The apache specific config is loaded through this line:
https://github.com/friendica/docker/blob/3c2cfeb54a297e8967674560ca080ee8a557cc23/update.sh#L21

Copy&Paste it into the editor, adapt it and replace this line.

Afterwards, execute this file per "./update.sh" to update all containers automatically.

[2020-05-13 08:27] nupplaphil commented on #114
A couple of questions:

- What's the URL in your address bar after loading the page? "http://localhost" or "http://127.0.0.1"  oder "http://friendica.local" or something similar?
- Did you create your account per "Create Account" function of the page or per CLI or similar?
- How did you configure it?
- what do you mean "without domain name"?

If you want to test it locally, I'd prefer another setu

[2020-05-13 08:46] nupplaphil commented on #79
This is really not a good solution :-/

Maybe I can have a look for the root cause and fix it ..

[2020-05-19 18:01] voryzen opened #116 "Use nginx, instead of apache?"
Is it possible to use nginx instead of apache?

EDIT: have the option to**

[2020-05-20 02:59] #116 closed

[2020-06-04 12:17] voryzen opened #117 "... is not a fully qualified URL, please use App->internalRedirect() instead"
Hi @nupplaphil ,

I'm actually still getting this issue (6124) with my friendica instance (red hot poker) via docker, traefik 2.2, nginx 1.17.10 (and the apache version) and mariadb 10.4.13.

Wasn't this fixed? or am I doing something wrong?

[2020-06-10 09:53] voryzen commented on #117
@nupplaphil I am wanting to add Friendica to another project, aimed at easily deploying services for users... This is the issue holding me back..

Is there a way you fix this?

[2020-06-11 12:51] nupplaphil commented on #117
Can you give me the full log excerpt? Do you use docker-compose?
I do need the full export because there are several possible places where such an error can occur.

I think it's more a Friendica upstream bug than because of docker itself, but I've to take a look into your log

Sorry, I'm currently a little bit busy, That's why my response time isn't the best atm ;-)

[2020-06-15 06:17] voryzen commented on #117
Hi @nupplaphil, I do use docker-compose,

Unfortunately, I don't have the logs, because I've needed to do other work on the project and my Friendica attempt had to take a backseat.

I'll re-attempt a make, and I'll update it here.

I guess I really wanted to know, how this was fixed upstream, in the Friendica github., Because I'm unsure why this bug should effect a docker deployment

[2020-06-15 13:23] nupplaphil commented on #117
OK, just add the logs here and I'll take a look.

@"how is that even possible":
**Short answer**: It's code, we're coders and humans, so failures are inevitable ;-)

**Long answer**:
Here you can see the exception root
https://github.com/friendica/friendica/blob/f10062dfdbacb48910482678d919ad37de57015f/src/Core/System.php#L215-L221

So in case the passed URL isn't fully qualified, the exception oc

[2020-08-23 22:36] quincy opened #124 "brand new docker friendica:apache -- Url rewrite in .htaccess is not working. Check your server configuration."
I'm following the instructions [here](https://hub.docker.com/_/friendica) to start Friendica using docker-compose.  Here is a copy of my compose file.

[code]

The logs report no errors, but when I try to visit `http://friendica.local:8080/`, I see the System Check page and everything is green except the `URL rewrite is working` test.

If I visit the `/install/testrewrite` page, from either the do

[2020-08-25 20:23] nupplaphil commented on #124
The problem is the curl of the testrewrite subdir inside the own container.

As you already tried, `friendica.local:8080` worked flawless outside of the container, and also flawless with `friendica.local` inside the container. But because curl uses the official baseurl even for **internal** calls, it tries to curl `http://friendica.local:8000/install/testrewrite` inside the container. And this fai

[2020-08-25 20:55] nupplaphil commented on #124
Like #79 , this works:
[code]

[2020-08-30 12:44] nupplaphil commented on #115
I do find this solution more docker-like and less "static" for all containers. Because which settings are fix in the docker image itself and which not?
https://github.com/nextcloud/docker/issues/182#issuecomment-430531984

What do you say @valvin1

[2020-08-30 12:48] nupplaphil commented on #117
@voryzen did you try it again? Does it work now? :)

[2020-08-30 13:27] nupplaphil commented on #66
Closed because of #125

[2020-08-30 13:27] #66 closed

[2020-08-30 13:30] nupplaphil commented on #79
I think that this issue isn't "solvable" within the docker image code. It's a general problem with curl/fetching inside the docker network environment .. But I don't have any good idea for a better solution than mapping the gateway IP to the local node hostnames ... So if somebody has a better idea, I will add it to the ".examples" directory as best practice .. meanwhile this issue will stay open

[2020-08-30 20:39] nupplaphil opened #127 "Automatically update docker images after release"
If I do get a way to automatically fetch the Friendica releases, it would be possible to automatically create/update docker images based on this list. So this repo would automatically update itself with each new release and I'm no more necessary to permanently check it ;-) .. And a next followup would be to automatically create a PR in the official library in case of a new release (but step by ste

[2020-08-30 23:29] voryzen commented on #117
Hi @nupplaphil,
Thanks. I'm a big ff7 fan too.

I haven't had a chance yto get back to it. I'm still ironing out some issues with ViciLab.

As far as I know, a colleague has got it working, so when I get a chance, I'll compare our code.

I'll close this issue, and I'll reopen it if I (need to, and) can't work around it.

[2020-08-30 23:29] #117 closed

[2020-08-31 06:30] MrPetovan commented on #127
Each release is tagged in the git repository, so retrieving the list of tags effectively gives you the full list of releases. We do not have the hash sum for downloads, but the release archive follows this pattern:
[code]
But I'm not sure that's what you want.

[2020-08-31 07:29] tobiasd commented on #127
No, the full archive does not follow that pattern ;) it is not automatically generated, and for a long time the archive was too large for the github filesize limitations. They must have make that restrictions on a larger file size, so that the archive could be uploaded the last time (when Wordpress changed something, so the upload to friendi.ca via WP was not possible...). But I think a more struc

[2020-09-01 12:14] nupplaphil commented on #127
@tobiasd  What about a "simple" File Service on friendi.ca for the releases? Am I thinking to simple or would that work, wouldn't it? Maybe @utzer can create a directory for it (like mapping the sub-dir `/release` on a readonly dir on the server)

[2020-09-01 13:27] ben-utzer commented on #127
I can somehow map some folder on a webserver of mine, subfolder might be possible, would have to look into the setup of git.friendi.ca server, probably another subdomain would be nicer, so some subdomain of friendi.ca.

Let me know when you need me to do something. Subdomain setup would need action by Heluecht (non mention because not needed to notify now).

@nupplaphil Just our of curiosity, do w

[2020-09-01 13:45] nupplaphil commented on #127
If a subdomain is nicer, I'll take it too :-) .. I "just" need a file-service with a complete release list (I think the last 3-4 releases are enough..) so I can fetch them from one resource.

The "opensocial.at" server is running on docker. I must confess I didn't do any checks so far, but it behaves similar to a normal setup, since all services (App & DB) & file-mounts are running on the same phy

[2020-09-01 13:49] tobiasd commented on #127
We could have a look if gitea allows some kind of "additional directory" we could use?

[2020-09-01 14:02] ben-utzer commented on #127
@nupplaphil OK, was just wondering if the delivered settings are good for a bit bigger node. Maybe the next time I do a setup I will set it up as docker, didn't think of that last week when I did migrate to a new VM with Nginx instead of Apache and PHP-FPM in addition.

@tobiasd for me that is fine too, but if is just needs to be a webfolder with https I see easier ways then github, As said a fold

[2020-09-01 14:42] tobiasd commented on #127
We could create a subdirectory on git.friendi.ca, say "archives" or so and I could upload the full archives and the sha256 sum there. Then the upload problem with Wordpress would be "fixed" as well...

[2020-09-01 15:04] ben-utzer commented on #127
Is there a webserver running? I think it is gitea serving the webpage, isn't it? But still we could run a webserver, nginx or lighttp, gitea (or whatever) is running on a different port that 80/443. You can just setup some webserver, preferable with the data in /srv/http and let me know, but again I need that running on a different domain the gitea. I can explain why I think so in some chat/Signal

[2020-09-01 15:17] tobiasd commented on #127
Gitea would then serve static files, hence no index. But as we only need a fixed name schema and the archive and sha-sum files, that would be sufficient.

[2020-09-01 15:32] ben-utzer commented on #127
Not sure how/if gitea can do that.

We can also spin up some nginx on that server, that then serves the static files and gitea dynamic stuff, with gitea serving / and nginx serving static files from /subfolder.
Not sure if this can be accomplished by gitea completely, but maybe that is what you mean and know how to do.

Another question, there was a time when I was told that we need TLS 1.0 for so

[2020-09-02 05:19] tobiasd commented on #127
Could be [this handshake](https://git.friendi.ca/friendica/git.friendi.ca/issues/6) issue? And IIRC there was a problem with composer downloading one of the dependencies we host in the gitea instance.

[2020-09-02 07:28] ben-utzer commented on #127
Not sure, I thought I commented on the issue too.

Maybe I will just remove the support for TLS 1.0 and 1.1 and see what breaks. I will announce that however.

[2020-09-03 19:20] valvin1 commented on #115
oh yes why not, I'll test and let you know :)

[2020-09-04 08:03] nupplaphil commented on #127
And here we go: https://files.friendi.ca :-) :-) thx !

[2020-09-04 20:47] #127 closed

[2020-09-09 07:09] jaywink opened #132 "2020.07-1 hotfix missing from dockerhub"
Looks like there is a commit https://github.com/friendica/docker/commit/34e0bd306e569ef6b650d61f8c97bdef2a51d9d2 but the tag isn't available in dockerhub.

[2020-09-09 07:21] nupplaphil commented on #132
https://github.com/docker-library/official-images/pull/8691
We're on it. I think few hours left :-)

[2020-09-09 07:27] jaywink commented on #132
Ah right, didn't realize it goes through that process :) Thanks!

[2020-09-09 08:14] nupplaphil commented on #132
the process is necessary because the Friendica Image is part of the offical docker image library and therefore has an additional process-step.
But the benefits are for example that we do have another quality check from official docker maintainers and the images are auto-created for almost any architecture (i386, mips, arm, ...) something I really appreciated in the past :-)

[2020-09-10 20:21] nupplaphil commented on #132
@jaywink you can try it in a few hours I guess. The PR is merged, now the build has to get finished :). Therefore I'm closing this issue :) feel free to reopen it in case something is wrong

[2020-09-10 20:21] #132 closed, assigned to nobody

[2020-09-13 14:31] quincy commented on #124
@nupplaphil , thank you.  This does get me past this issue.

[2020-09-13 14:31] #124 closed

[2020-09-20 03:14] mattcen opened #134 "Docker Instructions fail to result in usable installation"
Three issues:

1. URL rewrite test fails
2. DB config is not pre-populated, despite being sent as environment variables
3. Trying to log in tries to redirect to HTTPS, which is not forwarded to the host.

# URL rewrite fails

When following the [Apache docker-compose](https://github.com/friendica/docker#base-version---apache) instructions verbatim, by creating a `docker-compose.yml` file with the

[2020-09-21 09:48] nupplaphil commented on #134
thank you for your report. I must confess I didn't try the out-of-the-box installation for a while.

At least the "URL rewrite" seems like the same problem as #124 which I'm not able to solve (yet). Any support will be awesome :-)

I'll have a look at the other two problems. I think I can resolve both of them!

[2020-09-21 09:49] nupplaphil commented on #115
@valvin1 Is this solution acceptable? :-)

[2020-09-21 09:50] nupplaphil commented on #90
@focalfury I close this issue for now. If you need any guidance, feel free to reopen it or open another issue with questions

[2020-09-21 09:50] #90 closed

[2020-09-21 09:53] nupplaphil commented on #65
@pianic26 I close this issue. The attached docker-compose file you gave doesn't include the friendica docker image at all :-) I think you need another docker-compose file. Have a look at `.examples` (after I fixed #134 ;-) ).

[2020-09-21 09:53] #65 closed

[2020-09-21 12:53] mattcen commented on #134
Thank you! :)

OK, so regarding (1), this is initially going to sound super ugly, and will require a bit of a rewrite of the install page, but let's try it on for size anyway.

What if, rather than running a curl behind the scenes on the Docker container, the install page *started* by doing a 301 redirect to the testrewrite page (or something more helpfully named), and *that* was the one that show

[2020-09-25 08:28] noplanman opened #136 "Maintenance seemingly stuck on "updating item table""
### Expected behavior
Main page should be loading.

### Actual behavior
All pages redirect to `/maintenance`.

### Steps to reproduce the problem
I'm using docker. After updating from 2020.07-1 to 2020.09 everything seemed fine.
So i patched all files for 2020.09-1 (directly inside the container) and restarted the container.
Unfortunately the container couldn't start up again because of [this vers

[2020-09-25 09:14] nupplaphil commented on #136
The `VERSION` at `/var/www/html` is now one version ahead to the original sources at `/usr/src/` and therefore the container stops for safety reason, because per default, the container copies the whole `/usr/src` over the `/var/www/html` directory, which would lead to old db and files.

You've to wait until https://github.com/docker-library/official-images/pull/8777 is merged. There are maybe othe

[2020-09-25 10:16] noplanman commented on #136
@nupplaphil Thanks for your reply.
I totally understand the VERSION thing, which makes sense 👌

The problem is that my code is basically on version 2020.09-1 but it seems to be stuck in the maintenance mode, and i have no idea what (if anything) is happening in the background.
So in that sense, I'm don't know how the new docker image should fix this, as it seems like some data block somewhere in t

[2020-09-25 10:23] noplanman commented on #136
Ok, well I just found the maintenance mode setting in the console app and disabled it with `bin/console maintenance 0` and now all is good again 🤔

Will let the queue catch up and see if everything is flowy again...

[2020-09-25 12:47] noplanman commented on #136
Seems all good now.

I'd initially forgotten to update the new composer dependencies (`phpseclib`), which may have caused some things breaking, but now it seems like it's running smoothly again.

So I'll close off here ✌️

[2020-09-25 12:47] #136 closed, assigned to nupplaphil

[2020-10-04 13:44] LinAGKar opened #138 "Can't connect to unix mysql socket"
I'm running the friendica:stable-fpm container. I've mounted the socket from mariadb into the container on a volume, and set:

[code]

if I then go into the container in a shell and install mariadb-client, I can successfully connect to the DBMS with ```mariadb -p"`cat "$MYSQL_PASSWORD_FILE"`" -u "$MYSQL_USER" "$MYSQL_DATABASE"```, but the actual friendica server is not able to connect.

[2020-10-04 17:54] nupplaphil commented on #138
Try the following settings for Host/Port:
[code]
or even fewer
[code]

I think the combination `localhost` and as port a socket doesn't work, it becomes:
`localhost:/var/run/mysqld/mysqld.sock`

See here:
https://github.com/friendica/friendica/blob/44ee4a54b49cf7c6f4cbb2bc760b09be86cb8cfb/src/Database/Database.php#L95-L98

[2020-10-04 18:59] LinAGKar commented on #138
I've tried that to, as well as `MYSQL_HOST=/var/run/mysqld/` and `MYSQL_HOST=localhost:/var/run/mysqld/mysqld.sock`, and I've tries entering `/var/run/mysqld/mysqld.sock`, `localhost:/var/run/mysqld/mysqld.sock` and `unix:/var/run/mysqld/mysqld.sock` as the database server name in the install wizard.

[2020-10-04 19:25] LinAGKar commented on #138
From what I understand from the [source](https://github.com/friendica/friendica/blob/44ee4a54b49cf7c6f4cbb2bc760b09be86cb8cfb/src/Database/Database.php#L143) and the [documentation](https://www.php.net/manual/en/ref.pdo-mysql.connection.php), it would need to set `unix_socket` in order to specify a custom unix socket path. Otherwise, if you set host to localhost, it will use the default, which dep

[2020-10-04 19:41] LinAGKar commented on #138
If I change `pdo_mysql.default_socket` to `/var/run/mysqld/mysqld.sock` in `/usr/local/etc/php/php.ini-production`, and set the host to localhost, that seems to work. This seems to be the only way.

[2020-10-04 20:43] nupplaphil commented on #138
@annando do you know what Friendica does support for host/port settings? I think there's just a general host config entry, so at least setting just the host should have worked.

[2020-10-04 20:50] annando commented on #138
When `MYSQL_PORT` is given, then it is added to the hostname:
https://github.com/friendica/friendica/blob/develop/src/Database/Database.php#L96-L98

[2020-10-04 20:58] nupplaphil commented on #138
Yes, but even in case it isn't set, it doesn't work. My question is if you know that socket connections per se should work.

[2020-10-04 21:23] annando commented on #138
This is something I don't know.

[2020-10-05 20:05] LinAGKar commented on #138
Nevermind about `php.ini-production`, that does not help. What actually did was symlinking /tmp/mysql.sock to the socket, which I'd done during the troubleshooting earlier. That gets it past the database page in the install wizard, but the automated setup still doesn't work. I still just get:

[code]

[2020-10-06 18:55] nupplaphil opened #139 "Docker secrets just used during install"
FollowUp #125
The docker secrets are just used during the install process.

[2020-10-24 12:17] Jay2645 opened #140 "Stuck with "Vendor path not found" error after following Docker instructions"
Following the instructions on the main page, I get a plain white page with simply `Vendor path not found. Please execute "bin/composer.phar --no-dev install" on the command line in the web root.`

The issue is there _is_ no `bin/composer.phar`, at least not any that I can see. This is with the default docker-compose settings for an Apache server. I don't see a `bin` folder at all in `/var/www/html

[2020-10-24 12:28] Jay2645 commented on #140
Ah, it was in `/usr/src/friendica/bin/composer.phar` -- took some digging, but I found it. Might be helpful to add to the instructions. Various other folders (like the `vendor` folder) were also missing, giving errors like `Warning: require(/var/www/html/vendor/composer/../../include/conversation.php): failed to open stream: No such file or directory in /var/www/html/vendor/composer/autoload_real.

[2020-11-28 16:13] jgoerzen opened #141 "Installation keeps going to https://friendica/index.php"
Hi,

I was unable to complete the web-based installation because it keeps wanting to go to https://friendica/ instead of the URL given in FRIENDICA_URL.  Giving additional environment variables let it proceed that way, though.

[2020-11-28 16:24] jgoerzen opened #142 "Cron instructions unclear / broken"
Hi,

The README.md discussion on cron lists three options.

"Using the default Image and activate the cron-job (see Installation, sector Activating scheduled tasks)"

However, since the default image doesn't include cron, nor a way to just fire up a daemon like that, none of the options in "Activating scheduled tasks" appear to apply.

"Using the default image (apache, fpm, fpm-alpine) and creatin

[2020-11-28 17:54] jgoerzen commented on #142
I also noticed that the supervisor example pulls from friendica/server:apache which doesn't seem to be getting updated anymore.

[2020-11-28 19:19] jgoerzen opened #143 "SMTP_DOMAIN not honored"
Hi,

While attempting to get this going with the initial account, the message was sent from the hostname of the Friendica server, not the SMTP_DOMAIN, which was different.  Replacing the exact hostname, it came from noreply@friendica.example.com instead of noreply@noreply.example.com.  SMTP_DOMAIN is noreply.example.com.  Looking at the scripts, the SMTP_DOMAIN was correctly used to populate /etc/

[2020-11-29 00:00] jgoerzen commented on #143
This prevented configuration because I was unable to get the initial mail.  Resolved with inserting into the database:

`insert into config (cat, k, v) values ('config', 'sender_email', 'friendica@noreply.example.com');`

[2021-01-05 12:44] valvin1 opened #144 "official docker image for 2021.01"
Hi,

It looks everything is ready for `2021.01` image but it is not available on [docker hub](https://hub.docker.com/_/friendica?tab=description&page=1&ordering=last_updated)

If I've well understood it requires to PR something [here](https://github.com/docker-library/official-images/pulls?q=label%3Alibrary%2Ffriendica) ?

Is there another place to get image while it is approved on docker hub? :)

[2021-01-05 15:07] MrPetovan commented on #144
Unfortunately, @nupplaphil has been handling the Docker image upgrade, and I'm not sure what are the steps to upgrade it with the new stable version. I could replace all the version strings in the repo to the correct one but I don't know how to push the changes to Docker Hub.

I'll give it a shot.

[2021-01-05 15:10] nupplaphil commented on #144
Uh.. I'll do it in the next hours and add a readme about it

[2021-01-05 15:12] MrPetovan commented on #144
I see the folders for the new version `2021.01` and `2021.03-dev` have been created already, is it just about running `generate-stackbrew-library.sh` now?

[2021-01-05 15:42] valvin1 commented on #144
@MrPetovan I think it requires to push modification to this repo which is owned by docker : https://github.com/docker-library/official-images/pulls?q=label%3Alibrary%2Ffriendica

[2021-01-05 15:48] nupplaphil commented on #144
@valvin1 you're right :-)

[2021-01-05 15:53] MrPetovan commented on #144
I'm going to wait for the README then.

[2021-01-05 19:33] #144 closed, assigned to MrPetovan

[2021-01-05 19:37] nupplaphil commented on #144
@valvin1 @MrPetovan -> https://github.com/docker-library/official-images/pull/9378

[2021-01-13 15:37] Extarys commented on #134
I came accros this today, first time installing friendica.

We could add a Internal port or internal address environment variable when using docker or use ajax like @mattcen suggested.

Or at the very least provide a "Continue anyway" button. I cannot stop the service running on port 80 so I'll need to find a way to work around this to install it.

[2021-01-25 04:55] ghost opened #146 "automatc install trouble"
even with the correct environment variables set, once the setup screen for the database is reached all fields are empty instead of populated as expected.

[code]

[2021-02-08 22:35] kiddhustle commented on #134
any updates on this issue at all?

[2021-02-08 22:38] kiddhustle commented on #141
@jgoerzen which additional variables did you give?

[2021-02-08 23:03] jgoerzen commented on #141
Unfortunately I no longer have that information (and discontinued my node).  Feel free to close this if you'd like.

[2021-02-09 01:18] MrPetovan commented on #141
Sorry about that, thank you for the follow-up.

[2021-02-09 01:18] #141 closed, assigned to nobody

[2021-03-27 20:59] nupplaphil commented on #134
@kiddhustle , @Extarys  and @mattcen

A little bit late, but with when using the tag `rc-apache` or `rc`, you will now see this error optional. This is a current workaround for this issue

[2021-03-27 21:32] #143 closed, assigned to nobody

[2021-03-27 21:37] nupplaphil commented on #134
Concerning the other problems from @mattcen

Yes this is the expected behavior, because the Friendica code upstream doesn't use environment variables for populate the input fields automatically. I think this is a good feature request! I'll place it

Did you use the setting "enforce SSL" during the installation? Because that would explain this behavior.

[2021-03-27 21:49] nupplaphil commented on #115
@valvin1 I'm closing this issue now since you're already using the docker image for your instance and it seems working.

Feel free to reopen it in case you need support again :)

[2021-03-27 21:49] #115 closed

[2021-03-27 22:12] nupplaphil commented on #140
@Jay2645 sorry for the late answer, I was a little bit busy :/

 I do need some more information about this issue.
- Which instruction did you follow? FPM/Apache ?
- Did you use a `docker-compose.yml` file for the setup? If so, please add it here
- If not, please describe your setup as detailed as possible

I'm using the "full" friendica archive where the complete vendor directory is included, so

[2021-03-27 22:56] nupplaphil commented on #142
I addressed some of your input at #148

I fixed the path in the README to the right Friendica installation tutorial.
In fact, the first possibility is to manually executing the `daemon` after startup ..

I linked to an example how a `cron` instance looks like.
You have to start a second friendica image (like for the app itself), but you use the entrypoint `/cron.sh` instead (have a look at https:/

[2021-03-27 22:58] nupplaphil commented on #146
The setup screen doesn't use the environment variables. They are used for the auto installation.

Plz have a look at https://github.com/friendica/docker#automatic-installation

[2021-03-27 23:03] nupplaphil commented on #146
The setup screen doesn't use these environment variables.

@robjloranger
Are you sure your environment variables are right?
Based on https://github.com/friendica/docker#automatic-installation , all prerequisites for the auto-installation are fulfilled, so you shouldn't even see the setup screen. Plz add the log output after the startup so I can have a look

[2021-03-27 23:09] nupplaphil commented on #101
Fixed per https://github.com/friendica/friendica/pull/9422

[2021-03-27 23:09] #101 closed

[2021-03-27 23:10] nupplaphil commented on #114
Closed

@stodge  feel free to reopen it in case you need support

[2021-03-27 23:10] #114 closed

[2021-03-27 23:25] nupplaphil commented on #138
At least I know the answer now.
We currently don't support socket connections at all :) - see https://github.com/friendica/friendica/issues/6606

1. `PDO` - We would need the parameter `unix_socket` in our DSN to enable this feature (see https://www.php.net/manual/en/ref.pdo-mysql.connection.php ).
https://github.com/friendica/friendica/blob/99a145f7cff984f19e8adbc018a8b631aaa58e0f/src/Database/Da

[2021-03-27 23:25] #138 closed, assigned to nobody

[2021-03-31 12:18] mattcen commented on #134
Thanks for following this one up, @nupplaphil.

I can confirm that when switching to the `rc` image tag, I can now skip past the rewrite check.

I guess I was confused because I couldn't see why the variables were specified at https://github.com/friendica/docker#base-version---apache under the `app` environment section if they're not actually used by the installer?

No, I just tested this now, and

[2021-03-31 12:30] mattcen commented on #134
Steps to reproduce the above:

1. Create the following `docker-compose.yml`:

[code]

2. Run `docker-compose up` and wait for containers to be ready.
3. Browse to http://localhost:8080
4. Select "Next"
5. For "SSL link policy", select "No SSL policy, links will track page SSL state"
6. Select "Submit"
7. Fill out database details as per MYSQL_ variables in above docker-compose.yml
8. Select "Submi

[2021-04-28 19:51] valvin1 opened #152 "official docker image 2021.04"
Same as this issue : https://github.com/friendica/docker/issues/144

I've tried to PR the update.sh but it has been done by a pipeline.

So I've tried to understand the workflow and did this PR: https://github.com/docker-library/official-images/pull/10068

Don't know if it'll be accepted as I'm not the maintainer of image.

[2021-04-28 20:19] nupplaphil commented on #152
Hi @valvin1

I'm sorry, but I already added the PR here (just few minutes before you :D )
https://github.com/docker-library/official-images/pull/10067

Here's the HOWTO for updating this docker image:
https://github.com/friendica/docker/blob/stable/README-MAINTENANCE.md#how-to-update-the-docker-image

[2021-04-30 21:14] nupplaphil commented on #152
Done :)

[2021-04-30 21:14] #152 closed, assigned to nobody

[2021-06-25 09:45] Dave4234 opened #155 "Can't install due to mixed content on install page"
I'm trying to install Friendica in Docker using the Docker compose file provided on Docker Hub. The install works fine and I can access it from the 8080 port over HTTP and all seems to work ok.

My problem is that my setup has an nginx reverse proxy providing HTTPS. Although I have Mediawiki and Nextcloud containers working fine on this setup, I can't get past the Install page. It reports all gree

[2021-07-03 11:41] nupplaphil commented on #155
hmm .. can you add the docker-compose file, so I can check it?
Did you set your external https-URL as `baseURL` during the installation?

[2021-07-04 14:07] ThRPctmylSgltwH opened #156 "Getting PHP Mail using Outlook or Google SMTP Servers"
I have started Friendica on a Raspberry PI OMV setup using the following Portainer Stack.

[code]

I then added the addon PHP Mailer SMTP by Marcus Mueller version 0.2. I then created the following config/addon.config.php file to attempt to send email from smtp-mail.outlook.com

[code]

When trying to setup a new account or reset the password, the docker log file in Portainer has this error.

[cod

[2021-07-05 08:22] Dave4234 commented on #155
I've attached the docker-compose file. But it's exactly the same as one of the examples listed on the Docker Hub page, except I added a password and email address (which I have changed for this file).

[docker-compose.txt](https://github.com/friendica/docker/files/6762788/docker-compose.txt)

And yes, I set the base URL as https://friendica.mydomain.com during the installation.

[2021-07-05 18:08] nupplaphil commented on #156
so does the smtp sending at least work?

The log entry is because I forgot creating a default setting for MSMTP to deactivate it .. It searches for settings even in case we don't want to ... I'll fix it soon

[2021-07-05 19:23] ThRPctmylSgltwH commented on #156
In Portainer, I logged into the console and entered php -a for a php interactive mode.
I then issued the command mail('test@website.com', 'Subject', 'Message');
The same error comes up - msmtp: account default not found: no configuration file available,
So, the email is not sent.
I tried hotmail servers using the configuration above and I also tried gmail servers with the configuration

[2021-07-10 08:50] ThRPctmylSgltwH commented on #156
Hi, do you have any suggestions to get email to work? Without email functioning, I cannot add users. Wouldn't make sense to just offer email configuration in the user interface. This would allow more people to use Friendica that are not so technical savvy? Since it is complicated to have a private email server and avoid it being classified as SPAM, I think that many users would prefer just to use

[2021-07-10 09:24] nupplaphil commented on #156
I' ll take a look tomorrow evening

[2021-07-10 10:02] tobiasd commented on #156
Never mind, just saw that you already tried using the phpmailer addon ;-)

[2021-07-11 11:11] nupplaphil commented on #156
@ThRPctmylSgltwH

I would recommend to use the builtin mailserver possibility within the friendica docker image - see https://github.com/friendica/docker#mail-settings

So for your setup, try this as environment variables **instead** of the phpmailer addon:
[code]

So as you can see, you don't need an own mailserver :-)

[2021-07-11 11:47] nupplaphil commented on #156
Ah, and the flag `smtp` at your config is always `false`, so you didn't activate the SMTP settings, so no mail was sent :)

[2021-07-11 12:11] nupplaphil commented on #155
hmm ... I successfully setup a test-instance with a little adaption to your setup:
[code]
So instead of a nginx proxy, I use traefik

And after calling https://testfriendica.philipp.info , I was able to successfully setup an instance .. Maybe there's a problem with the nginx config and maybe asset resolving (which would explain the mixed-content problem)?

Can you provide your nginx setup (even wi

[2021-07-12 10:15] Dave4234 commented on #155
Thanks for the reply. In some way it's good to know that it works for you so is likely related to my nginx config. I've copied the config below. My full config includes server sections for other services running in other docker containers, but I have tested this config as below (with domain name changed) and I get exactly the same result as before, the install page loads with a mixed content warni

[2021-07-13 17:40] elrido commented on #79
Not a better idea, but a little extra information nugget: As the internal gateway IP can change, I've instead mapped the sites hostname to the external static IP of the gateway service. This adds a little latency, but won't change without my intervention.

I've got to be honest - I had noticed this message ever since I switched my former installation to this container image. Had ignored it, assumi

[2021-07-13 18:17] ThRPctmylSgltwH commented on #156
So, just to provide an example that works, I had to modify your settings a bit and enable both TLS and STARTTLS otherwise I received this error 'the server does not support authentication' in the log files.

    environment:
      - [...]
      - SMTP=smtp.office365.com
      - SMTP_PORT=587
      - SMTP_DOMAIN=hotmail.com
      - SMTP_FROM=user
      - SMTP_TLS=true
      - SMTP_STARTTLS=true

[2021-07-15 10:48] nupplaphil commented on #156
thanks, I'll add it as an example

[2021-07-15 11:25] nupplaphil commented on #156
I'll close this issue, because I added the example based on your config here: #158

[2021-07-15 11:25] #156 closed, assigned to nupplaphil

[2021-07-20 22:15] jclendineng commented on #142
Im adding an entrypoint like this:

--entrypoint="php /var/www/html/bin/daemon.php start"

this doesnt work, what am I doing wrong? The command works fine if I issue it manually.

[2021-07-25 00:22] Dave4234 commented on #155
As an update to this, I've narrowed it down to an issue with connecting to Friendica from within my network. I can connect to it fine from outside the network, but when accessing it within my network it tries to load some resources over HTTP.

I have a pi-hole that I run on my network (but disabling blocking didn't help). I have a domain name that I use for accessing externally, and I added this s

[2021-07-26 03:00] Dave4234 commented on #155
So final update - I converted my whole setup to Traefik and it all works fine. I have no idea why it didn't work for me under nginx. An unsatisfying ending but at least it works.

[2021-07-26 03:14] #155 closed, assigned to nobody

[2021-07-26 07:55] nomadbl opened #159 "friendica apache docker does not connect to mysql database"
Hello.
I tried yesterday to set up friendica with the apache+friendica docker (image friendica:latest).
At first I tried to set up with a mysql DB. However although I got the install screens, I could not get past the database connection screen (it said it could not connect to the DB).
I spun up a PhpMyAdmin container and verified the DB was funtional with the friendica DB I created ahead of time e

[2021-07-31 19:13] nupplaphil commented on #159
I think mysql needs additional parameters.
Using your settings 1:1 results at this error:
[code]

[2021-07-31 19:17] nupplaphil commented on #142
@jclendineng don't execute the daemon manually per entrypoint, I was at this point already, that's why I introduced https://github.com/friendica/docker/blob/stable/docker-cron.sh

so try --entrypoint="/cron.sh" instead :)

[2021-08-10 22:13] nupplaphil commented on #71
Root-Cause: the cronjob `/cron.sh` is running as "root" and therefore creates `root:root` owned storage items

[2021-08-10 22:26] MrPetovan commented on #71
Nice find!

[2021-09-03 20:07] #71 closed

[2021-09-10 17:15] zem opened #165 "lack of security best practices in docker container (chmod 777)"
There are files and directories with chmod 777 in the container.  chmod 777 or chmod 666 should never be done in production because that means that files can be replaced by any user or application vulnurability in the system! Not even /tmp is chmod 777 for good reasons.

Some files are chmod -R 777 from the entrypoint.sh script. A fact that should be removed as well.

Files in /var/www/html are wr

[2021-09-10 18:21] zem opened #166 "docker container is hard to upgrade"
In the docker container /var/www/html is a volume containing the main program binaries and the configuration.

This makes automatic software upgrades a pain as it means that you have to extract the config and delete the volume on upgrade.

Most container deployments expect volumes to keep all the data needed to run.
Deploying a new container means recreating it and mount in its data volumes. If th

[2021-09-10 22:43] MrPetovan commented on #165
Thank you for your report! Some Friendica files need to be writable by the user executing the script because we are storing temporary files or saving images locally for example. But most don't.

[2021-09-11 12:04] nupplaphil commented on #166
It's possible to separate program binaries and the configuration. I'll create a PR for it.

Nevertheless, the upgrade process for this images are already set and working. You just need to pull a newer image and the sources either already at  `/usr/src/friendica` directory (for stable images) or will be downloaded into this directory per GIT (yet). Afterwards they are syncd per rsync to `/var/www/h

[2021-09-11 17:31] nupplaphil commented on #165
can you give me an example of chmod 777 files/folders except the `view/smarty3` folder, which is needed because smarty3 is using this directory for caching as well (which therefore requires the 777 permission)

[2021-09-13 20:30] zem commented on #165
No, it does not require 777 permission! Nothing requires 777 permission! Ever, Period!

If smarty3 really needs the smarty3 folder for caching it certainly only needs write permissions for smarty3 on that directory not 777.

I usually use find and ps to investigate the insides of my containers with podman-exec. I will come back with more details in the next comment.

[2021-09-13 21:55] zem commented on #165
Basically as I use docker.io/library/friendica:latest the first thing I do after podman-exec into it  is:

[code]

The things we learn here is that it is using apache and apache does chown() to www-data as soon as it has claimed port 80. We need that Information later.

Let us have a look for any obvious permissions:

[code]
**drwxrwxrwx 2 www-data www-data 6 Sep  3 16:26 /run/lock/apache2**
This

[2021-09-14 06:10] nupplaphil commented on #165
Pinging @tobiasd as this seems interesting for him too.

Thank you for your detailed elaboration! I'll take a deeper look later

[2021-09-27 17:16] ThRPctmylSgltwH opened #170 "User created and deleted in web interface before cron job was run causing errors"
I created and then deleted a user before the cron job was run. Now when I try to run the cron job I receive the following error where null seems to be the error.

root@71a3d6fea87b:/var/www/html# php bin/daemon.php start
Starting worker daemon.
Child process started with pid 935.
root@71a3d6fea87b:/var/www/html#
Fatal error: Uncaught TypeError: Argument 1 passed to Friendica\Model\Item::storeForUs

[2021-10-02 13:45] valvin1 opened #171 "Docker hub - can't pull image 2021.09"
Hi,

It looks like something is broken in the new docker image version. It is mising arch on 2021.09* tags so when I try to pull it I get:

[code]

Effectively on docker hub I don't see architecture associated to tags contrary to other tags:

![image](https://user-images.githubusercontent.com/1267915/135719003-f002c6b5-e199-4a64-ba59-9b58699efaac.png)

[2021-10-02 14:17] nupplaphil commented on #171
Yes, I already added a fix at official-images https://github.com/docker-library/official-images/pull/11008 .. I added the wrong sha256 sum for the images :X

[2021-10-04 18:22] nupplaphil commented on #171
Now it worked :)

[2021-10-04 18:22] #171 closed, assigned to nobody

[2021-10-04 19:13] elrido commented on #171
Thank you for your efforts. Currently the [amd64 image for 2021.09-fpm-alpine](https://hub.docker.com/_/friendica?tab=tags&page=1&ordering=last_updated&name=2021.09-fpm-alpine) is still missing, but the arm ones (v6, v7 and arm64/v8) got published. Were there any issues building the amd64 one?

[2021-10-05 16:09] elrido commented on #171
I attempted to use the stable-fpm-alpine image which has gotten an amd64 image published around the same time. It seems to still contain 2021.07 in it's /usr/src/friendica.

The ppc64 image has now appeared under the 2021.09-fpm-alpine tag, so maybe I just have to be a bit more patient. :-)

[2021-10-05 16:42] MrPetovan commented on #171
There was no 2021.07 release, are you sure it's the right one?

[2021-10-05 19:05] elrido commented on #171
https://github.com/friendica/friendica/releases/tag/2021.07 ?

Edit: Oh, and I see that now theres an amd64 image for [2021.09](https://hub.docker.com/_/friendica?tab=tags&page=1&ordering=last_updated&name=2021.09-fpm-alpine). I was impatient - let me try that upgrade again.

[2021-10-05 19:21] MrPetovan commented on #171
Ah, sorry, I forgot about it, usually there are 3 months between releases and the last one was `2021.09`, hence my confusion.

[2021-10-05 19:32] elrido commented on #166
Something that I encountered for the first time with the upgrade to 2021.09, my `config/local.config.php` got overwritten. I see that it is included in the /usr/src/friendica folder and it's contents are:

[code]
This is the first time I had this issue and I can easily restore it from my backup. All the previous updates have been working well in that regard and left my local config untouched (usin

[2021-10-08 05:44] valvin1 opened #174 "2021.09 - loose my config files while upgrading"
Hello,

I've not yet found the reason but I've lost my config files folder during upgrade. I see there was a change around the rsync command for config but don't understand why it is crashed my installation.

Unfortunately I did not backup those files.

I did config manually but now I'm having issue with another config file DBstructure. Maybe nothing directly related with docker part this time. I'

[2021-10-08 10:42] nupplaphil commented on #174
That was a bug for the stable artifact :-(
I accidentally included the `local.config.php` into the archive, so the script overwrites the existing one.
You mean this PR: https://github.com/friendica/docker/pull/172 , don't you? This covers the issue, but the root cause is closed with this PR: https://github.com/friendica/docker/pull/173

I'm really sorry ..

This shouldn't happen with the latest st

[2021-10-08 15:34] valvin1 commented on #174
no worries I have to do better backups ;)

it looks my instance is up again I might have lost some settings but I'll find them back in the future :)

[2021-10-08 19:50] ThRPctmylSgltwH commented on #174
I had the same issue and I edited the local.config.php file and reentered all entries in the database section. The container is now up but when I connect to the web interface to login I receive this error.
[code]
Is there a fix for this?
I have pulled the latest image just a few minutes ago.

[2021-10-08 20:09] valvin1 commented on #174
I had the same issue. It is the system base path which should correspond to the main folder. In our case /var/www/html
Hope it'll help.

[2021-10-08 20:12] ThRPctmylSgltwH commented on #174
Thank you. That did it and I am back in.

[2021-10-08 20:13] nupplaphil commented on #174
Where did you set this config @valvin1. Normally the basepath shouldn't be set manually for Docker, because it uses standard directories for it

[2021-10-08 20:14] ThRPctmylSgltwH commented on #174
I set it in local.config.php and no restart was even required. It just worked. The original value was 'basepath' => 'vagrant', and I changed it to 'basepath' => '/var/www/html',

[2021-10-08 20:17] nupplaphil commented on #166
@zem with the new release, both the stable and the develop images are now supporting the environment variable `FRIENDICA_CONFIG_DIR` for setting a different config directory, so if you want, you can try it.

I'm currently testing other parts of Friendica, so it will take a while before I change it ;-)

[2021-10-08 20:18] nupplaphil commented on #174
örks .. that's a leftover from the `local.config.php` issue, it's the basepath of my local dev-environment -.-*

[2021-10-08 20:30] ThRPctmylSgltwH commented on #174
Next issue also related is I cannot start daemon.php. When logged into the container as root, error is

root@friendica:/var/www/html# php bin/daemon.php start
Starting worker daemon.
Child process started with pid 71.
**sh: 1: /usr/bin/php: not found**
root@friendica:/var/www/html#

The error keeps repeating and the queue does not empty in the Admin webpage.
Is this also a simple solution related

[2021-10-08 20:35] nupplaphil commented on #174
yep ..

plz set `config.php_path` to `php`, like:
[code]

[2021-10-08 20:52] ThRPctmylSgltwH commented on #174
That fixed it for now. I will post any further errors but I am hoping to not have any. Have a nice evening.

[2021-10-08 20:54] nupplaphil commented on #174
I hope so too :-/ thanks for your patience

[2021-11-15 18:17] mayeulk commented on #134
I can confirm the SSL issue (redirection to https at login) is still an issue as of 15 November 2021, with FRIENDICA_VERSION = 2021.09

[2021-11-15 18:19] mayeulk commented on #134
In addition to the above issues, the  IP address of the database container is not automatically pupulated. You have to search for it (for instance using portainer).

[2021-11-18 16:26] ne20002 opened #175 "localhost is not working for db host"
- [x ] I have searched open and closed issues for duplicates

### Bug Description

I'm settign up a friendica instance for private use with Podman on Debian Bullseye. Using 'localhost' as MYSQL_HOST is not working. Using '127.0.0.1' is working.

### Steps to Reproduce

1.  Crate a new friendica instance.
2.  Use 'localhost' as MYSQL_HOST
3.  friendica fpm container can't connect to host.

The same

[2021-11-18 21:50] BrokenGabe commented on #175
You would have to edit your /etc/hosts file and add (the following) into it to work.
127.0.0.1 localhost

[code]

[2021-11-18 22:14] nupplaphil commented on #175
@BrokenGabe  - I transferred it to the docker repo, because it's a docker topic, not the codebase itself :-)

[2021-11-18 22:31] nupplaphil commented on #175
networking inside containers is really a pain .. Why do you want to run at the **same** node, this doesn't sound right to me.

If you use
[code]

you can set `MYSQL_HOST` to `nextcloud-db.dns.podman` and this would work out of the box :-)

[2021-11-18 22:31] nupplaphil commented on #174
closed since no further errors I guess :-)

[2021-11-18 22:31] #174 closed, assigned to nobody

[2021-11-18 22:32] nupplaphil commented on #159
closed because of no feedback so far :-)
@nomadbl feel free to reopen it again

[2021-11-18 22:32] #159 closed, assigned to nobody

[2021-11-18 22:33] nupplaphil commented on #146
closed because it seems to work now
@robjloranger feel free to reopen it if necessary

[2021-11-18 22:33] #146 closed, assigned to nobody

[2021-11-18 22:40] nupplaphil commented on #134
You don't need an IP address at docker environments, just use the name of the container for it (in that case `db`). Docker itself is responsible with it's internal DNS to get the right IP for it :-)

[2021-11-18 22:41] nupplaphil commented on #134
I believe it's an upstream code bug during the install process and not an issue inside docker, I'm currently verifying it

[2021-11-19 06:21] valvin1 commented on #174
yes sorry I forgot to give news on my side. but i'm wondering if I updated the image after fixing errors. I'll try and let you know.

[2021-11-19 06:56] ThRPctmylSgltwH commented on #174
I have not seen any further errors. I am fine with the closing of this topic.

[2021-11-19 11:24] ne20002 commented on #175
Networking in containers is a pain. ;)
That's why I use Podman and pods. I've set up a number of pods, where each pod includes all neccessary containers. It works for Nextcloud, Synapse + Admin, Tvheadend. Using pods I have a dedicated Network per pod where all services are accessible on localhost. For me it looks like the easiest way to get rid of networking pain.
I also have each pod running und

[2021-11-20 14:00] ne20002 opened #176 "Upload and Memory limits"
Can we have an easy was to support setting PHP values?
Example: Nextcloud allows setting environment for
    --env PHP_UPLOAD_LIMIT=1G
    --env PHP_MEMORY_LIMIT=2G
when using docker / podman.

I haven't figured out how to do this with friendica.

[2021-11-20 14:27] nupplaphil commented on #176
good idea, I'll add it

[2021-11-20 16:14] ne20002 commented on #176
This is what is written on https://github.com/nextcloud/docker for the Nextcloud image:

    PHP_MEMORY_LIMIT (default 512M) This sets the maximum amount of memory in bytes that a script is allowed to allocate. This is meant to help prevent poorly written scripts from eating up all available memory but it can prevent normal operation if set too tight.
    PHP_UPLOAD_LIMIT (default 512M) This sets

[2021-12-12 20:58] nupplaphil commented on #175
If you can wait until https://github.com/containers/podman/issues/12003 is fixed, this config would work as well:
[code]

because "normally" the hosts file c

[2021-12-12 22:11] nupplaphil commented on #103
@valvin1 I now solved it.

After merging https://github.com/friendica/friendica/pull/11098 and https://github.com/friendica/docker/pull/179/files , you can enable the syslog capability for each container separately with
[code]

The output for worker is:
[code]

The output for the app is:
[code]

[2021-12-13 02:32] #176 closed, assigned to nobody

[2021-12-13 13:40] #103 closed

[2022-01-10 05:46] scifijunk commented on #142
Well, I don't know if anyone has it running on Kubernetes like I am so here it goes. I finely got the Friendica Cron container running with the following Kubernetes file format (be it with or without Portainer being used):

[code]

Please note that USER, PASSWORD, HOST, and DATABASE would be where you put in the values you used for the MariaDB/MySQL container you set up for Friendica App container

[2022-01-10 06:15] nupplaphil commented on #142
Can you add your working kubernetes config as PR? I'm curious about it and would like to add it at `.example/kubernetes`

[2022-01-12 12:10] pedroponte opened #184 "Use of undefined constant DB_UPDATE_VERSION"
I am trying to install friendica on docker and am getting this error in the installation page

Use of undefined constant DB_UPDATE_VERSION

- [ X ] I have searched open and closed issues for duplicates

### Bug Description

### Steps to Reproduce

1.  configure docker
2.  use a mysql db as host (ie not a docker instance), by configuring the following parameters as specified in https://hub.docker.c

[2022-01-15 21:42] nupplaphil commented on #184
@pedroponte
This is unfortunately a regression of the current stable (2021.09) Friendica codebase.
Please use the current Release Candidate version (2021.12-rc), because it's "almost" released ;-) and this bug is fixed at https://github.com/friendica/friendica/pull/10891

`friendica:rc` is the right tag for it

[2022-01-15 21:42] #184 closed, assigned to nobody

[2022-01-19 21:36] stavros-k opened #185 "New Installation won't start"
[code]
This deployed in kubernetes, After the fatal error, friendica fails to auto configure and asks for manual DB creds and the whole startup wizard.

OS: TrueNAS Scale
Friendica (Container): `friendica:2021.09@sha256:115de1231f1879bdaf28984d1f42241091578c69367ff86e52eff88bec17607d` AND  `friendica:2021.09@sha256:7cc99f0fcfe47e3ea7b76ba436df5c4243f8ac2490b314c3d64c179715bb5fc4`
MariaDB (Containe

[2022-01-19 23:07] MrPetovan commented on #185
Thank you for copying your report!

[2022-02-06 20:14] valvin1 commented on #185
since 2 days I have the same issue and don't find why it crashes like that. I set a memory_limit to php to 512M and don't have this kind of issue before. i'm wondering if there is something that has changed recently.

[code]

my deployment is separate in 2 containers one for web the second for cron. I'm using apache version.

[2022-02-06 20:18] MrPetovan commented on #185
This looks like the memory limit actually is 2M which is way too low to run Friendica. Please check your `php.ini` file although I'm not able to assist with Docker-specific questions.

[2022-02-06 20:50] valvin1 commented on #185
i setup `memory_limit` to 1024M using a `custom.ini` file mounted in `/usr/local/etc/php/conf.d/custom.ini`

but after running `php -ini` i see there a `friendica.ini` with this value: `memory_limit=${PHP_MEMORY_LIMIT}` environment variable I never set. By the way it looks to be set to 512M by default.

When I run `php -ini` memory is well set to more than 2M so I don't understand. After setting `

[2022-02-06 20:54] nupplaphil commented on #185
hmm .. at least it seems like a bug introduced at #67

[2022-02-06 20:58] valvin1 commented on #185
And `php --ini` indicates only files `/usr/local/etc/php/conf.d/*`

But I'm running this command in the cron container as it is not affected by the issue. So maybe I'm missing something.

so i changed the default command with `php -ini` but I can see a `memory_limit` set to 1024M.

[2022-02-06 21:00] valvin1 commented on #185
do you know if there are actions I can do to get some interesting information ?

[2022-02-06 21:16] valvin1 commented on #185
i don't see a different tag for `2021.09` maybe I could use `2021.09-rc` ?

[2022-02-06 21:20] nupplaphil commented on #185
I try to figure out how we can find the root cause .. I'm using this setting since the PR and I don't have any problems.

can you post your current `docker.compose.yml` for app and cron? maybe I can find a hint ...

[2022-02-06 21:20] nupplaphil commented on #185
what do you mean?

[2022-02-06 21:30] nupplaphil commented on #185
ha .. I get the error with a "blank" example, like
[code]

I'll investigate it!

[2022-02-06 21:39] valvin1 commented on #185
on my side i'm using a kubernetes deployment. i tried with memory limit to `-1` without any success.

I'm wondering if the issue isn't located in Compat library itself which uses some memory limit its own code.

[code]

[code]

My question about `2021.09-rc` is to know if this version is usable as a fallback image as `2021.09` i used friday morning is not available anymore. But while writting I'm

[2022-02-06 21:54] nupplaphil commented on #185
This version is still available, do you use a specific tag ?

https://hub.docker.com/layers/friendica/library/friendica/2021.09/images/sha256-350e1c00ff0c07e928cd5ac72bfc4dbf9e39c719935a39eb438773b2e2d84ffd?context=explore

[2022-02-06 21:56] nupplaphil commented on #185
I don't think so, because we're using the autoinstaller for our Vagrant setup in the upstream and it's still working fine..

[2022-02-06 22:13] nupplaphil commented on #185
uuuuhh .. I found it - wrong apostrophe leads to wrong variable substitution..
[code]

[2022-02-07 06:23] valvin1 commented on #185
Nice 🙂 i think we have now to wait for a new dockerhub image? It is the only place where image is hosted?

Btw I'm wondering why php -ini gives me a correct memory limit.

[2022-02-07 06:28] valvin1 commented on #185
Yes this version is available but contains the new feature. I had the issue because my node pull on friday this new image which was updated 10d ago. My question was how to retrieve a 2021.09 without this new feature. But now it looks to be fixed I would prefer getting the new image 😉

[2022-02-09 02:03] nupplaphil commented on #185
@valvin1 / @scifijunk  - I fixed it the wrong way :D But now #188 should "really" fix it ..

[2022-02-09 06:53] #185 closed, assigned to nobody

[2022-02-09 19:41] valvin1 commented on #185
Thank you for your fix. Does the image has been pushed on dockerhub (it doesn't look it is) or is there another place to get it in oder I reopen my instance?

[2022-02-09 22:30] ggrensteiner opened #189 "docker install can't run workers at all"
Running cron.sh, php bin/worker.php or php bin/daemon.php does nothing in a docker container.

The daemon.php always returns Friendica isn't properly installed yet.

worker.php isn't running the jobs as the admin page logs that the worker process has never run.

Is this thing stuck in some kind of install tag process? daemon.php seems to be checking DI::mode() -> isInstall()) and failing, but I ca

[2022-02-10 06:37] valvin1 commented on #185
It looks image has been updated my instance has started back automatically around midnight 🙂 thank you

[2022-02-10 06:47] nupplaphil commented on #185
Yes, the new release and the fix were merged some hours ago, so it's rolled out now :).
Hope it's now fixed for every circumstances

[2022-02-10 09:37] ne20002 opened #190 "Update to 2022.2: white page"
Hi
Updating to 2022.2 with just pulling a new container didn't work. I now get an empty white page. This is the console output:
[code]
TZ is set with TZ_FRIENDICA to Europe/Zurich but was America/LosAngeles in local.config.php. Changing the timezone in local.config.php to Europe/Zurich solved the problem. After restart of pod friendica 2022.2 is running.
:)

[2022-02-10 12:12] MrPetovan commented on #190
The correct timezone name would be `America/Los_Angeles`, see https://www.php.net/manual/en/timezones.america.php

[2022-02-10 13:07] ne20002 commented on #190
Agreed
To be more precise: I didn't add America/LosAngeles to the local.config.php. I assume it has been there from the beginning (started with docker image for 2021.09). I always set the timezone with TZ_FRIENDICA env parameter.

2021.09 didn't complain about the America/LosAngeles. 2022.2 now did.

Also; I thought that the values in local.config.php are ignored if settings are in database. Seems

[2022-02-10 21:04] scifijunk commented on #185
Well, I just notice the Email notification about this issue and I can't say I ever had this kind of problem. I will say that I stopped using the latest tag when 2021.07 came and went to use the stable tag due to having issues with the latest tag. After that, I had no more problems. In my setup for friendica I have friendica and cron using friendica:stable and MariaDB using latest. I'm also managin

[2022-02-11 00:22] #190 closed, assigned to nobody

[2022-02-11 10:01] ne20002 opened #194 "Driver 'redis' failed - Fallback to 'useAutoDriver()'"
I have a list of errors when trying to use redis with my installation.
[code]

[2022-02-11 11:27] ne20002 commented on #175
Works the way as recommend ny nupplaphil.

[2022-02-11 11:27] #175 closed, assigned to nobody

[2022-02-13 09:35] elrido opened #195 "console.php dbstructure update fails to launch upon container upgrade from 2021.09 to 2022.02"
Hi there,

Not a major issue, since easily worked around, but we probably can make this even smoother.

I'm using the fpm-alpine flavour and just upgraded from 2021.09 to 2022.02. In the logs I see these messages from the startup scripting:
[code]
I assume that the `sh: php: not found` comes from this call and the run_as function:
https://github.com/friendica/docker/blob/8d5f6d63ea3e8d67a036a93458

[2022-02-15 08:02] valvin1 opened #196 "error in redis configuration - versionning change"
hello,

unfortunately 2021.09 isn't very stable and I should remove my `imagePullPolicy: Always` configuration.

I think this [commit](https://github.com/friendica/docker/commit/6edd78174b1a6de7610146c092c7a316d435f527) introduce a new bug in my configuration.

[code]

I have net yet seen if I should update my configuration but I think it would be nice to have a sort of versionning in image tag. I

[2022-02-15 19:39] valvin1 commented on #196
i'm looking at the error itself and don't understand what is wrong. It breaks at https://github.com/friendica/docker/blob/stable/docker-entrypoint.sh#L52 and my `REDIS_HOST` is set to `friendica-redis.friendica.svc.cluster.local`

when i do the following command on my computer I don't have any issue:

[code]
but in the image `php:7.4-apache-bullseye`

[code]

it looks to be specific to the sh vers

[2022-02-15 19:47] valvin1 commented on #196
it looks like `${REDIS_HOST:0:1}` is `bash` but we are using `sh`

i belive i was on `sh` but on my computer :

[code]

so it works with bash not sh.

[2022-02-15 22:02] nupplaphil commented on #194
Can you output if there's a config value in the db:
[code]
or as environment variable
[code]

It seems like there's a non-null variable, but it's set to empty .. I'll add a fix for it at the upstream, but maybe we can find the root-cause for it

[2022-02-15 22:22] nupplaphil commented on #195
@elrido - please retry and close this issue after https://github.com/docker-library/official-images/pull/11872 is merged

[2022-02-15 22:25] nupplaphil commented on #196
@valvin1 - Please retry and close this issue after   https://github.com/docker-library/official-images/pull/11872 is merged

The problem is that the versioning follows the rules from the upstream branch.. I think it would be better to have a an CI environment here, where we/I can prove that the setup still works .. "just" building it doesn't seem to be enough

and tbh I thought it was a "quick win

[2022-02-16 05:20] elrido commented on #195
Thanks, I've prepared a test environment using my ansible role and a backup from Sunday morning before the update and will re-create the update once we got a fresh image released.

[2022-02-16 05:57] valvin1 commented on #196
Thank you for the fix and I let you know when my instance is up again.

The goal of this issue is more about a frozen version of the stable images. New development, quick wins shouldn't be applied to stable version directly. Maybe stable version shouldn't be published from mainstream but from a tag?

You are doing a great work but it is really frustrating having an instance which could stop workin

[2022-02-16 06:10] elrido commented on #195
Actually, I tested your change in the run_as in a alpine container (using it's busybox sh) and found that the `-c` in the set line replaces $1, which breaks the subsequent calls. Here is another version of the function with my understanding of each lines purpose in comments, that gives me the expected result when running commands as root or non-root user:
[code]
I tested the above in an alpine:3.1

[2022-02-16 16:16] ne20002 commented on #194
Here ya go:

[code]

With latest image (stable-fpm) the substitution error in entrypoint.sh (as in #196) is gone, but no change to redis passwort error. I removed both env entries to get Friendica running without the error in the protocoll.

[2022-02-16 20:44] nupplaphil commented on #195
Thanks for your detailed explanation!

I was at exactly the same path as you, but the problem is that `su -p` doesn't preserve the `$PATH` variable, so that was the reason why `php` couldn't be found anymore. On the other hand, `su -p -l` works for alpine, but not for debian, so I had to choose a direction.

I thought, using the user-specific environment and passing the two missing environment var

[2022-02-17 06:37] valvin1 commented on #196
My instance has downloaded a new image during the night and is up again.

[2022-02-17 10:40] ne20002 commented on #194
I now applied the changes from https://github.com/friendica/friendica/pull/11250 manually. Friendica starts with stating using Redis as session handler, no more errors shown in protocoll.

[2022-02-17 16:02] elrido commented on #195
Good catch. I concur that using a single dedicated tool will make this more robust. I see the image got published and I'll report back from testing the upgrade on the backup ASAP.

[2022-02-17 18:32] nupplaphil commented on #194
Can I close this issue because you found a workaround until the root-cause is fixed?

[2022-02-17 18:45] elrido commented on #195
Confirmed! Now the upgrade gets kicked off automatically:
[code]
Thank you!

[2022-02-17 18:45] #195 closed, assigned to nobody

[2022-02-17 20:40] nupplaphil opened #200 "Introduce Docker versioning"
[...} New development, quick wins shouldn't be applied to stable version directly. Maybe stable version shouldn't be published from mainstream but from a tag?

You are doing a great work but it is really frustrating having an instance which could stop working at any time when my server pulls again the stable image.

_Originally posted by @valvin1 in https://github.com/friendica/docker/issues/196#i

[2022-02-17 20:55] nupplaphil commented on #200
I'm with you @valvin1 , I try to have a look how to achieve it.

The major point which gives me headache is that we need to introduce a different versioning concept as the `Friendica` upstream branch. That will lead to a complex versioning matrix:

Stable Docker images:
- upstream: stable, docker: stable
- upstream: dev, docker: stable
- upstream: rc, docker: stable

Staging Docker images:
- upstr

[2022-02-17 20:56] nupplaphil commented on #196
I opened another issue for the versioning topic #200 and close this issue because the bug per se is fixed :)

[2022-02-17 20:56] #196 closed, assigned to nobody

[2022-02-17 20:58] nupplaphil commented on #166
I'm closing this issue because the variable is now set and you could use it if wanted :)
@zem - Please don't hesitate to reopen it in case the change doesn't work like expected

[2022-02-17 20:58] #166 closed, assigned to nobody

[2022-02-17 20:59] nupplaphil commented on #139
Closed because environment variables are now overruling database config entries

[2022-02-17 20:59] #139 closed, assigned to nobody

[2022-02-17 21:04] nupplaphil commented on #35
- The Zombie issue is resolved by using `gosu` and `tini`, changed #162 - it never happened again since this change
- The `pidfile` is now part of the core config, so no need to add it extra (https://github.com/friendica/docker/blob/stable/.config/zz-docker.config.php#L13)

So I'm closing this issue :)

[2022-02-17 21:04] #35 closed

[2022-02-17 21:21] nupplaphil commented on #189
I tried it with this setup
[code]

And started the daemon manually inside with:
`gosu www-data tini -s -- php bin/daemon.php -f start`

At least the output looks good to me:
[code]

[2022-02-17 21:23] nupplaphil commented on #140
Closing it

@Jay2645 - Please don't hesitate to reopen it in case you do want or need support :)

[2022-02-17 21:23] #140 closed, assigned to nobody

[2022-02-17 21:24] nupplaphil commented on #142
Closing this issue, @jclendineng don't hesitate to reopen it again in case you need/want support
Thanks  @scifijunk again for your PR :)

[2022-02-17 21:24] #142 closed, assigned to nobody

[2022-02-17 21:40] nupplaphil opened #201 "Call for cluster features :-)"
@valvin1 @ne20002 @scifijunk
I already noticed that you're using Friendica inside a cluster environment

Do you have any wishes for cluster environments?

I'm thinking about the following features:
- S3 Storage support (= prerequisite scalability)
- ELASTIC logging support
- daemon-less worker logic = no more locking with (local) PIDs (= prerequisite scalability)
- volume-less /var/www/html path =

[2022-02-17 22:19] scifijunk commented on #201
Well, I use K3s as the cluster environment and Portainer to manage it so I can't think of anything right now since it just works for me. I am still fairly new to k3s so maybe down the road, I might think of something.

[2022-02-18 07:47] #194 closed, assigned to nobody

[2022-02-18 20:01] valvin1 commented on #200
hi,

thank you for investigating this :)

isn't possible without changing the actual worklow to push to docker registry only dev version / rc ? If I've understood PR done on their repository it is an association of a tag and a specific commit of this repository? maybe you could choose to send a new commit only for dev version (or a specific version when required).

[2022-02-18 22:40] nupplaphil commented on #200
Oh.  That's the far easiest possibility! Thanks :D I'll will adhere it

[2022-02-27 16:03] ggrensteiner commented on #189
Please update the docs to include that functional docker-compose.

[2022-03-23 08:49] ne20002 commented on #201
I don't use any clusters. It's my very private instance which I indeed run in a Podman setup in my own VPS on my own virtual server host. It's Debian and therefor still Podman 3, as there is no newer version in backports. :(
I run my Friendica in a Pod with owasp:nginx, MariaDB (would prefer Postgres), Redis and CrowdSecurity.
Works pretty well so far.

[2022-03-23 10:00] valvin1 commented on #201
oh sorry didn't see the notification of this issue.

on my side I tested to run it in a cluster approach. i'm running k3s on 2 nodes. Database is running on a dedicated server.

* first is file storage which concerns app files and media files: main question is how to serve those files on different container which are not on the same node + keep good performance (ex: using nfs is a disaster with rs

[2022-03-25 10:24] ne20002 opened #204 "logging"
I request to add the following
- move the location of the logfile to /var/log/friendica
- add logrotate to the image
- add a systemd unit for logrotate

I'm using the image with Podman. Podman allows to use systemd inside the image and I'd like to have some logfile housekeeping done automatically within the image itself. I'm not sure if Docker is capable of something similar.

[2022-04-03 12:30] valvin1 commented on #201
come back about this subject.

I'm not sure logs are directly link to the subject. Logs should be available on stdout in order other tools can grab/parse it. Usual recommendation for logs are they should be in json format to ease the categorization. Then tooling is more on admin side with the tools of his choice. for my usage I'm using `kubectl logs -l app=friendica` so current implementation is a

[2022-04-16 16:27] scifijunk commented on #189
Well, I just started noticing that I have the same problem in my Kubernetes cluster with the friendica:stable image since yesterday. According to my friendica node, it's Friendica 'Siberian Iris' 2022.03 - 1452.

I have tried redeploying both the cron and main friendica app. I tried running php /var/www/html/bin/daemon.php -f start. I tried gosu www-data tini -s -- php bin/daemon.php -f start. I t

[2022-04-21 21:22] ThRPctmylSgltwH opened #205 "Domain Name Change"
I have had to switch domains from www.xxx.tk to www.xxx.org since my .tk domain was lost. I have read that changing domains is supported but I cannot find any instructions on how to do it. I tried to set the ENV VAR FRIENDICA_URL=https://www.xxx.org but it has no effect on an existing docker installation.
Thanks for your help.

[2022-04-21 23:59] MrPetovan commented on #205
There's a field in the Admin -> Site section called "Relocate Instance".

[2022-04-22 06:12] ThRPctmylSgltwH commented on #205
I no longer have access to the original domain to login and change it in the web interface. I can only see a text version of the login page but cannot login. Can I either,

- force ENV VAR FRIENDICA_URL=https://www.xxx.org to be used upon docker redeploy
- edit a php file to change the domain like I have done with WordPress
- run a script within the docker container or on the server to change the

[2022-04-22 14:25] MrPetovan commented on #205
So, you would have to manually perform what we do in the code for relocation: https://github.com/friendica/friendica/blob/ee05bd91a3ad97ce2a348f4095a6a6492a58e7cf/src/Module/Admin/Site.php#L75-L123

It isn't trivial given all the tables and the fields that need to be changed, and all the notifier tasks that have to be sent for each user account.

I'd say running a script closely inspired by these

[2022-04-22 14:27] nupplaphil commented on #175
@ne20002 the root cause seems to be fixed now, so you could try it again without my workaround, jfyi :)

[2022-04-22 14:37] tobiasd commented on #205
Not apply-able for the problem at hand, but maybe we should expand the bin/console tool with this functionality.

[2022-04-22 14:42] MrPetovan commented on #205
Why isn't it applicable? Replacing the user-provided new domain name input with a static value should do the trick.

[2022-04-22 15:05] tobiasd commented on #205
I meant "it is not a solution ready to use at the current time".

[2022-04-22 15:27] MrPetovan commented on #205
Indeed, it needs some manual work to write the script.

[2022-04-24 13:31] tobiasd commented on #205
Which Friendica version are you running in the docker container @ThRPctmylSgltwH ?

[2022-04-24 20:39] ThRPctmylSgltwH commented on #205
I am running :latest. I hope that makes things easier.

As a start I took the file Site.php and copied it to a new file called RelocateDomain.php. In file RelocateDomain.php I made the following changes

65 old 		//if (!empty($_POST['relocate']) && !empty($_POST['relocate_url']) && $_POST['relocate_url'] != "") {
65 new		if (1) {

66 old		//$new_url = $_POST['relocate_url'];
66 new		$new_url = "ht

[2022-04-25 01:35] MrPetovan commented on #205
It's a start but you will need more than this, I'll submit a console command to perform this action soon.

[2022-04-29 15:09] esackbauer opened #206 "Diaspora federation not working"
If I try to add a user from Diaspora Network, I get the profile page displayed, however in the upper right there is a notification that "Diaspora-Unterstützung ist nicht aktiviert. Der Kontakt kann nicht zugefügt werden."

Is this to be activated somewhere? Shouldnt it work out of the box?

[2022-04-29 15:18] esackbauer commented on #206
That setting is enabled.

[2022-04-29 15:21] esackbauer commented on #206
Strange enough, I disabled the setting, and reenabled it, and suddenly its working...

[2022-04-29 15:21] #206 closed

[2022-05-14 08:02] ThRPctmylSgltwH commented on #205
Dear MrPetovan, I know that you are a volunteer and I am grateful for your work but do you have a timeline for the console command to change the domain? My site has been down for a couple of months at this point and I do not want to lose the history that my family has already created by starting over.
Thank you.

[2022-05-15 14:48] MrPetovan commented on #205
Thank you for the reminder, I should be able to pull it together this week.

[2022-05-21 21:54] scifijunk opened #207 "Cron job with k3s acting funny"
I'm just wondering if anyone else is having an off-and-on problem with the cron job. Now what I mean by an off-and-on problem is that the cron job of worker works like normal then sometimes it would just stop like it got bord or something. Now If I post or like something then it works like normal again.

I'm just wondering if this is the way it works now or if something has been changed in the cro

[2022-05-27 19:08] nupplaphil commented on #207
@scifijunk  Can you post your config, so I can investigate how you use Friendica within your cluster? :)
Fun-Fact: I'm currently building a k3s cluster as well, but still stuck at the some basics/infrastructure issues (newbie problems)

[2022-05-27 19:11] nupplaphil commented on #204
@ne20002 - I'm not sure if it's the best way to handle logging inside the Docker containers. There are two different distros (alpine and debian) and I try to avoid dependencies as much as I can ..

Of course your setup would be possible, but I'm not sure what will happen when using Docker/Kubernetes specific logging mechanism on top of the logrotate principles ..

[2022-08-12 12:45] ne20002 commented on #204
I solved it for me by mouting the /var/log and created a log rotate definition on the host. Works fine so far.

[2022-08-12 12:45] #204 closed, assigned to nobody

[2022-09-17 18:28] scifijunk commented on #207
Well crap, I didn't even see this until now. Anyway, I think I was just impatient since I just put everything back the way it was and it just worked again.

Now when it comes to k3s you could install Portainer to start out with and then work your way to the more advanced way of doing things from there. https://docs.portainer.io/start/install/server/kubernetes/baremetal

[2022-10-28 16:45] Jeffmackinnon opened #211 "Error: GNU Multiple Precision PHP module required but not installed."
I created a stack in portainer with this configuration:

--------------------------------------------------------------------------------------------
version: '2'

services:
  db:
    image: mariadb
    restart: always
    volumes:
      - /volume1/docker/friendica/db:/var/lib/mysql
    environment:
      - MYSQL_USER=friendica
      - MYSQL_PASSWORD=mypassword
      - MYSQL_DATABASE=friendica

[2022-10-28 17:43] MrPetovan commented on #211
@nupplaphil It looks like the container needs another extension activation in the build.

[2022-10-28 19:23] Jeffmackinnon commented on #211
After poking around for a bit I notice that the PHP: GMP (I think this is the same thing) isn't listed as a requirement on the Friendica Requirements Page - https://friendi.ca/resources/requirements/

I don't know how to test any changes to the dockerfile (still n00b) but I'm guessing that ``libgmp-dev`` needs to be added b/w lines 57 and 70 of the Debian dockerfile template - https://github.com/f

[2022-10-28 20:17] MrPetovan commented on #211
Yes, the GMP is the GNU Multiple Precision extension. Thanks for the hint about the outdated Friendi.ca requirement page. We ship a documentation with all Friendica installs and it's been updated over here (like there for example: https://friendica.mrpetovan.com/help/Install#Requirements) but we haven't taken the time to update on the website yet.

Your suggestion looks good but I'd rather have @n

[2022-10-29 17:12] #211 closed, assigned to nupplaphil

[2022-11-03 10:09] ne20002 opened #213 "E_WARNING: session_write_close() with Redis"
Since 2022-10 I get these warnings:

E_WARNING: session_write_close(): Failed to write session data using user defined save handler. (session.save_path: tcp://friendica-redis:6379)

Installation has not changed (just upgraded docker image)

[2022-11-05 15:43] tobiasd commented on #213
part of https://github.com/friendica/friendica/issues/11993

[2022-11-19 14:31] ne20002 opened #215 "How to check cron jobs?"
Hi
I've set up my friendica with docker images and installed two versions of the fpm image, one for friendica and one for cron jabs as described in the examples.

Now this is what I get as output:
![grafik](https://user-images.githubusercontent.com/39007279/202855732-4a8a15ee-4d81-4f38-a362-7815e557e831.png)

This is how the similar setup for Nextcloud looks:
![grafik](https://user-images.githubus

[2022-11-19 14:43] MrPetovan commented on #215
There are a few ways:
- The main admin page will tell you if the worker wasn't ran in the last hour. It also features the number of delayed tasks and the current active queue in "Messages queues". If the left number isn't 0 and the right number fluctuates with time, you know it's working.
- Enable the Friendica log with level Notice or more verbose, you should see lines that start with "worker" in

[2022-11-20 12:21] #215 closed, assigned to nobody

[2022-11-21 10:05] ne20002 commented on #213
After I reinstalled my instance from scratch (2022.10 docker image) this message does no longer appear.

[2022-11-21 10:05] #213 closed, assigned to nobody

[2022-11-27 04:51] jstevewhite opened #216 "db.env variables are incorrect"
The docker-compose.yaml specified mariadb as the image and does not specify a version; this results in "latest" being pulled, and the "latest" image I get does not expect "MYSQL_" variables; it expects "MARIADB_" variables.

This results in being unable to log into the database until you change all the "MYSQL_" to "MARIADB_".

Probably should manually set the image version or update the variable n